.container {
    margin: 0 auto;
    max-width: 102rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: auto;
}

.docs-sample {
    border-radius: .5rem .5rem 0 0;
    border: 1px solid #e5e5e5;
    font-size: 1.4rem;
    padding: 2rem;
    position: relative;
}
