.markdown-content > ul {
    font-size: 1.6rem;
    line-height: 1.6;
    list-style: initial;
    margin-bottom: 1.5rem;
    padding-left: 3rem;
}

.markdown-content > p {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.markdown-content > h1 {
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
}

.markdown-content > h2 {
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5rem;
}

.markdown-content > h3 {
    margin-bottom: 1.3rem;
}

.markdown-content pre {
    border-radius: 0 0 .5rem .5rem;
    border: 1px solid #e5e5e5;
    margin-top: -1px;
}

.markdown-content code {
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.markdown-content code:before,
.markdown-content code:after {
  letter-spacing: -0.2em;
  content: normal;
}

.markdown-content pre>code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.markdown-content .highlight pre,
.markdown-content pre {
  background-color: #f7f7f7;
  font-size: 85%;
  line-height: 1.45;
  margin-bottom: 1.5rem;
  overflow: auto;
  padding: 16px;
  word-break: normal;
  word-wrap: normal;
}
