{% extends "layout.html" %}

{% block content_left %}
  <ul class="st-content-left">
    <li class="st-content-left-item"><a class="st-a bold" href="#">Grid system</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Text block</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Forms</a></li>
    <li class="st-content-left-item"><a class="st-a" href="#">Form inline</a></li>
    <li class="st-content-left-item"><a class="st-a" href="#">Form fields</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Tables</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Buttons</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Menus</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Colors</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Icons</a></li>
    <li class="st-content-left-item"><a class="st-a bold" href="#">Helper classes</a></li>
  </ul>
{% endblock %}

{% block content_right %}
  <p class="st-p leading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, dolor unde eaque tenetur quaerat laudantium voluptates officiis nulla impedit! Veniam optio minima minus facere repellat odio, ipsa fuga cupiditate cum.</p>
  <p class="st-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellendus officia sed maxime ex itaque quod ducimus consequatur aspernatur qui non, eaque molestiae ipsum iste, veniam possimus voluptatibus ab ratione.</p>

  <h2 class="st-h2">Tipography</h2>
  <p class="st-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis repellendus officia sed maxime ex itaque quod ducimus consequatur aspernatur qui non, eaque molestiae ipsum iste, veniam possimus voluptatibus ab ratione.</p>

  <ul class="tipography-items">
    <li class="tipography-item">
      <p>h1 30px bold</p>
      <h1>water under the bridge</h1>
    </li>
    <li class="tipography-item">
      <p>h2 20px bold</p>
      <h2>water under the bridge</h2>
    </li>
    <li class="tipography-item">
      <p>h3 20px normal</p>
      <h3>water under the bridge</h3>
    </li>
    <li class="tipography-item">
      <p>p 14px normal</p>
      <p>water under the bridge</p>
    </li>
    <li class="tipography-item">
      <p>p 12px small</p>
      <p class="s12">water under the bridge</p>
    </li>
    <li class="tipography-item">
      <p>span 12px normal</p>
      <span class="s12">water under the bridge</span>
    </li>
    <li class="tipography-item">
      <p>link any normal</p>
      <a href="#">water under the bridge</a>
    </li>
    <li class="tipography-item">
      <p>label 13px normal</p>
      <label class="s13">water under the bridge</label>
    </li>
  </ul>

  <div class="st-content-pills">
    <h2 class="st-h2">Colors</h2>
    <p class="st-p">The color palette is shown below. Right now we have a total of 10 base colors and everything else is a variation of a base color. There can be 3 variants: primary, secondary and tertiary color and, for each variant 3 hues which are regular, dark and light. You can use a color with a SCSS function named "color" that accepts 1 mandatory string parameter (base color name) and two optional string parameters (variant and hue). We encourage you to name the optional parameters always. At the bottom of this section there is an usage example.</p>

    <ul class="st-samples clearfix">
      <li class="st-sample">
        <span class="st-sample-color st-socialbro-primary-dark">#26B7C2</span>
        <span class="st-sample-color st-socialbro-primary-regular">#29C4D0</span>
        <span class="st-sample-color st-socialbro-primary-light">#33CBD7</span>
        <span class="st-sample-description">
          Socialbro
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-socialbro-secondary-dark">#3B6D71</span>
        <span class="st-sample-color st-socialbro-secondary-regular">#41787C</span>
        <span class="st-sample-color st-socialbro-secondary-light">#478387</span>
        <span class="st-sample-description">
          Socialbro Secondary
        </span>
      </li>

      <li class="st-sample dark-text">
        <span class="st-sample-color st-socialbro-tertiary-dark">#B3ECF0</span>
        <span class="st-sample-color st-socialbro-tertiary-regular">#C1EFF3</span>
        <span class="st-sample-color st-socialbro-tertiary-light">#DDF7F8</span>
        <span class="st-sample-description">
          Socialbro Tertiary
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-service-primary-light">#009EE1</span>
        <span class="st-sample-color st-service-primary-regular">#00AAF2</span>
        <span class="st-sample-color st-service-primary-light">#04B4FF</span>
        <span class="st-sample-description">
          Service
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-service-secondary-dark">#58A9CB</span>
        <span class="st-sample-color st-service-secondary-regular">#65B0CF</span>
        <span class="st-sample-color st-service-secondary-light">#72B6D3</span>
        <span class="st-sample-description">
          Service Secondary
        </span>
      </li>

      <li class="st-sample dark-text">
        <span class="st-sample-color st-service-tertiary-dark">#CFE7FB</span>
        <span class="st-sample-color st-service-tertiary-regular">#DFEFFC</span>
        <span class="st-sample-color st-service-tertiary-light">#EFF7FD</span>
        <span class="st-sample-description">
          Service Tertiary
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-error-primary-dark">#C60E32</span>
        <span class="st-sample-color st-error-primary-regular">#D60F36</span>
        <span class="st-sample-color st-error-primary-light">#E6103A</span>
        <span class="st-sample-description">
          Error
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-error-secondary-dark">#C77777</span>
        <span class="st-sample-color st-error-secondary-regular">#CC8383</span>
        <span class="st-sample-color st-error-secondary-light">#D18F8F</span>
        <span class="st-sample-description">
          Error Secondary
        </span>
      </li>

      <li class="st-sample dark-text">
        <span class="st-sample-color st-error-tertiary-dark">#FFD5D5</span>
        <span class="st-sample-color st-error-tertiary-regular">#FFE6E6</span>
        <span class="st-sample-color st-error-tertiary-light">#FFF7F7</span>
        <span class="st-sample-description">
          Error Tertiary
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-succeed-primary-dark">#6AB624</span>
        <span class="st-sample-color st-succeed-primary-regular">#72C427</span>
        <span class="st-sample-color st-succeed-primary-light">#7AD22A</span>
        <span class="st-sample-description">
          Succeed
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-succeed-secondary-dark">#97B272</span>
        <span class="st-sample-color st-succeed-secondary-regular">#9FB87D</span>
        <span class="st-sample-color st-succeed-secondary-light">#A7BE88</span>
        <span class="st-sample-description">
          Succeed Secondary
        </span>
      </li>

      <li class="st-sample dark-text">
        <span class="st-sample-color st-succeed-tertiary-dark">#D5F2D1</span>
        <span class="st-sample-color st-succeed-tertiary-regular">#E1F6DE</span>
        <span class="st-sample-color st-succeed-tertiary-light">#EDFAEB</span>
        <span class="st-sample-description">
          Succeed Tertiary
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-primary-primary-dark">#F18B46</span>
        <span class="st-sample-color st-primary-primary-regular">#F29556</span>
        <span class="st-sample-color st-primary-primary-light">#F39F66</span>
        <span class="st-sample-description">
          Primary
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-primary-secondary-dark">#DC996C</span>
        <span class="st-sample-color st-primary-secondary-regular">#F0D2BE</span>
        <span class="st-sample-color st-primary-secondary-light">#F3DCCC</span>
        <span class="st-sample-description">
          Primary Secondary
        </span>
      </li>

      <li class="st-sample dark-text">
        <span class="st-sample-color st-primary-tertiary-dark">#F2EED1</span>
        <span class="st-sample-color st-primary-tertiary-regular">#F6F3DE</span>
        <span class="st-sample-color st-primary-tertiary-light">#F6F3DE</span>
        <span class="st-sample-description">
          Primary Tertiary
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-noticeable-primary-dark">#F13C70</span>
        <span class="st-sample-color st-noticeable-primary-regular">#F24C7C</span>
        <span class="st-sample-color st-noticeable-primary-light">#F35C88</span>
        <span class="st-sample-description">
          Noticeable
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-noticeable-secondary-dark">#F78BAA</span>
        <span class="st-sample-color st-noticeable-secondary-regular">#F89BB6</span>
        <span class="st-sample-color st-noticeable-secondary-light">#F9ABC2</span>
        <span class="st-sample-description">
          Noticeable Secondary
        </span>
      </li>

      <li class="st-sample dark-text">
        <span class="st-sample-color st-noticeable-tertiary-dark">#FBCBD9</span>
        <span class="st-sample-color st-noticeable-tertiary-regular">#FCDAE4</span>
        <span class="st-sample-color st-noticeable-tertiary-light">#FDEAF0</span>
        <span class="st-sample-description">
          Noticeable Tertiary
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-titles-primary-dark">#000000</span>
        <span class="st-sample-color st-titles-primary-regular">#191919</span>
        <span class="st-sample-color st-titles-primary-light">#333333</span>
        <span class="st-sample-description">
          Titles
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-titles-secondary-dark">#804997</span>
        <span class="st-sample-color st-titles-secondary-regular">#8A4FA2</span>
        <span class="st-sample-color st-titles-secondary-light">#9355AD</span>
        <span class="st-sample-description">
          Titles Secondary
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-text-primary-dark">#565656</span>
        <span class="st-sample-color st-text-primary-regular">#5E5E5E</span>
        <span class="st-sample-color st-text-primary-light">#676767</span>
        <span class="st-sample-description">
          Text
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-text-secondary-dark">#B1B1B1</span>
        <span class="st-sample-color st-text-secondary-regular">#B9B9B9</span>
        <span class="st-sample-color st-text-secondary-light">#D6D6D6</span>
        <span class="st-sample-description">
          Text Secondary
        </span>
      </li>

      <li class="st-sample dark-text">
        <span class="st-sample-color st-background-primary-dark">#F2F2F2</span>
        <span class="st-sample-color st-background-primary-regular">#F6F6F6</span>
        <span class="st-sample-color st-background-primary-light">#FFFFFF</span>
        <span class="st-sample-description">
          Background
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-border-primary-dark">#C2C8D2</span>
        <span class="st-sample-color st-border-primary-regular">#CCD1D9</span>
        <span class="st-sample-color st-border-primary-light">#D6DAE0</span>
        <span class="st-sample-description">
          Border
        </span>
      </li>

      <li class="st-sample">
        <span class="st-sample-color st-border-secondary-dark">#CECECE</span>
        <span class="st-sample-color st-border-secondary-regular">#D6D6D6</span>
        <span class="st-sample-color st-border-secondary-light">#DFDFDF</span>
        <span class="st-sample-description">
          Border Secondary
        </span>
      </li>
    </ul>

    <pre><code class="language-css">
    .element-class {
      background:   color("background", $hue: "light");
      border-color: color("border", $variant: "secondary");
      color:        color("socialbro", $variant: "primary", $hue: "dark");
    }
    </code></pre>
  </div>

  <div class="st-content-pills">
    <h2 class="st-h2">Icons</h2>
    <p class="st-p">Using SVG icons, an image format for vector graphics, to make our CSS more and more modular, structured and flexible</p>
    <div class="st-icons-holder align-justify">
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-banknote"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-dark">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-bubble"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-bulb"></use>
        </svg>
      </div>
      <div class="st-icon-container st-succeed-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-calendar"></use>
        </svg>
      </div>
      <div class="st-icon-container st-primary-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-camera"></use>
        </svg>
      </div>
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-clip"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-clock"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-cloud"></use>
        </svg>
      </div>
      <div class="st-icon-container st-succeed-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-cup"></use>
        </svg>
      </div>
      <div class="st-icon-container st-primary-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-data"></use>
        </svg>
      </div>
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-diamond"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-display"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-eye"></use>
        </svg>
      </div>
      <div class="st-icon-container st-succeed-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-fire"></use>
        </svg>
      </div>
      <div class="st-icon-container st-primary-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-food"></use>
        </svg>
      </div>
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-heart"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-key"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-lab"></use>
        </svg>
      </div>
      <div class="st-icon-container st-succeed-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-like"></use>
        </svg>
      </div>
      <div class="st-icon-container st-primary-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-location"></use>
        </svg>
      </div>
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-lock"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-mail"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-megaphone"></use>
        </svg>
      </div>
      <div class="st-icon-container st-succeed-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-music"></use>
        </svg>
      </div>
      <div class="st-icon-container st-primary-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-news"></use>
        </svg>
      </div>
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-note"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-paperplane"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-params"></use>
        </svg>
      </div>
      <div class="st-icon-container st-succeed-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-pen"></use>
        </svg>
      </div>
      <div class="st-icon-container st-primary-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-phone"></use>
        </svg>
      </div>
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-photo"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-search"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-settings"></use>
        </svg>
      </div>
      <div class="st-icon-container st-succeed-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-shop"></use>
        </svg>
      </div>
      <div class="st-icon-container st-primary-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-sound"></use>
        </svg>
      </div>
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-stack"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-star"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-study"></use>
        </svg>
      </div>
      <div class="st-icon-container st-succeed-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-t-shirt"></use>
        </svg>
      </div>
      <div class="st-icon-container st-primary-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-tag"></use>
        </svg>
      </div>
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-trash"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-truck"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-tv"></use>
        </svg>
      </div>
      <div class="st-icon-container st-succeed-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-user"></use>
        </svg>
      </div>
      <div class="st-icon-container st-primary-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-video"></use>
        </svg>
      </div>
      <div class="st-icon-container st-socialbro-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-vynil"></use>
        </svg>
      </div>
      <div class="st-icon-container st-error-primary-regular">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-wallet"></use>
        </svg>
      </div>
      <div class="st-icon-container st-service-primary-light">
        <svg viewBox="0 0 100 100" class="icon-large st-icon">
          <use xlink:href="#icon-world"></use>
        </svg>
      </div>
    </div>
  </div>

{% endblock %}
