{% extends "layout/empty.html" %}

{% block main %}
  <section class="landing-cover">
    <div class="landing-wrapper">
      <svg viewBox="0 0 100 100" class="landing-logo">
        <use xlink:href="#icon-socialbro"></use>
      </svg>
      <h1 class="landing-cover-title">haiku.</h1>
      <h2 class="landing-cover-subtitle">A styleguide to rule Socialbro Components.</h2>
      <a href="/docs/colors" class="landing-read-docs">Read the docs</a>
      <p class="landing-copyright">&copy 2015 · Socialbro</p>
    </div>
  </section>
{% endblock %}
