<ul class="breadcrumb breadcrumb-home breadcrumb-holder">
  <li class="breadcrumb-item breadcrumb-item-large">
    <div class="media">
      <div class="media-image">
        <img class="avatar-small" src="//gravatar.com/avatar/4aeb778e1a4f2afba6142d6eff73b8a6?s=80">
      </div>
      <div class="media-body s12">
        <h2 class="s12">ACCOUNT <span class="dropdown-toggler ml1"></span></h2>
        <a href="#">Home</a>
      </div>
    </div>
  </li>
  <li class="breadcrumb-item breadcrumb-item-large">
    <div class="media">
      <div class="media-body s12">
        <h2 class="s12">SOURCE <span class="dropdown-toggler ml1"></span></h2>
        <span>No source selected</span>
      </div>
    </div>
  </li>
  <li class="breadcrumb-item breadcrumb-item-large">
    <div class="media">
      <div class="media-body s12">
        <h2 class="s12">AT <span class="dropdown-toggler ml1"></span></h2>
        <a href="#">Dashboard</a>
      </div>
    </div>
  </li>
</ul>
