/*

Sandbox
-------

This library is divided in the following sections:

1.  Reset removes all the default styles on the page to start building using
    normalize.

2.  Generic parts that load variables, functions and mixins. Use thisfolder for code that
    is applied all over the app but it is not specific to a base element or an object.

3.  Helpers and useful chunks of code that do not fit in an object and it is generic enough.
    If possible, create objects.

4.  Base elements are the building blocks of the page. Paragraphs, lists, images and so on.

5.  Objects refer to each individual block that builds parts of the app.

6.  Layout styles like background colors or images, usually they are refered as sections inside the dom html.

7.  Vendor is code that other Javascript libraries use and do not tend to follow the OOCSS approach.

*/
/* 1. Reset */
/* 2. Core */
/*

Variables, colors and other stuff
---------------------------------

*/
/*

Functions
---------

Calculations used by other SCSS files. If you need to DRY-up some CSS properties
put that code in `core/_mixins.scss`, this is only for functions.

*/
/*

Disabled cursor
---------------

  div.disabled {
    @include disable-select;
  }

*/
/*

Forbidden cursor
----------------

  div.forbidden {
    @include forbidden-select;
  }

*/
/*

Disable appearance
----------------

  div.neutral {
    @include disable-appearance;
  }

*/
/*

Center-align a block level element
----------------------------------

  .footer-wrap {
    width: 450px;
    @include center-block;
  }

 */
/*

Text overflow
-------------

  .text-truncate {
    @include text-truncate;
  }

 */
/*

Absolute positioned
-------------------

  .abs {
    @include abs-pos(10px, 10px, 5px, 15px);
  }

 */
/*

Font Size in rem with px fallback
---------------------------------

  body {
    @include font-size(16);
  }

 */
/*

Line Height in rem with px fallback
-----------------------------------

  body {
    @include line-height (16);
  }

 */
/*

Text replacement (instead of text-indent)
-----------------------------------------

  .header h1 {
    @include text-replacement;
  }

 */
/*

Placeholder
-----------

  input{
    @include placeholder-color(#FA4A4A)
  }

 */
/*

Responsive mixin
----------------

  @include screen(768, 1280) {
    background: black;
  }

  @include min-screen(320) {
    width: 300px;
  }

*/
/* 3. Helpers */
/* 4. Base */
/*

Web fonts
---------

Drop the files in a folder, update the path and the name and go.

*/
/*

Headings
--------

h1, h2, h3, h4, h5, h6 headings styles.

*/
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 30px;
    font-weight: bold;
}

h2
{
    font-size: 25px;
    font-weight: bold;
}

h3
{
    font-size: 20px;
    font-weight: bold;
}

h4
{
    font-size: 16px;
}

h5
{
    font-size: 13px;
}

h6
{
    font-size: 13px;
    color: #676767;
}

/* 5. Objects */
.btn
{
    line-height: 22px;
    display: inline-block;
    overflow: hidden;
    height: 36px;
    padding: 6px 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap; 
    text-decoration: none;
    text-overflow: ellipsis;
    color: #565656;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    background-color: #f6f6f6;
}
.btn:hover
{
    background-color: #fff;
}
.btn:active,
.btn.active
{
    background: #d6d6d6;
}
.btn:disabled,
.btn.disabled
{
    cursor: not-allowed;
    opacity: .5;
}

.btn-primary
{
    color: white; 
    border: 1px solid #f18b46;
    background: #f29556;
}
.btn-primary:hover
{
    background: #f39f66;
}
.btn-primary:active,
.btn-primary.active
{
    background: #f18b46;
}

.btn-success
{
    color: white; 
    border: 1px solid #6ab624;
    background: #72c427;
}
.btn-success:hover
{
    background: #7ad22a;
}
.btn-success:active,
.btn-success.active
{
    background: #6ab624;
}

.btn-service
{
    color: white; 
    border: 1px solid #009ee1;
    background: #00aaf2;
}
.btn-service:hover
{
    background: #04b4ff;
}
.btn-service:active,
.btn-service.active
{
    background: #009ee1;
}

.btn-danger
{
    color: white; 
    border: 1px solid #c60e32;
    background: #d60f36;
}
.btn-danger:hover
{
    background: #e6103a;
}
.btn-danger:active,
.btn-danger.active
{
    background: #c60e32;
}

.btn-contrast
{
    color: inherit; 
    border: 1px solid #ccd1d9;
    background: #fff;
}
.btn-contrast:hover
{
    background: #f6f6f6;
}
.btn-contrast:active,
.btn-contrast.active
{
    background: #ccd1d9;
}

.btn-skip
{
    color: white; 
    border: 1px solid #acacac;
    background: #b9b9b9;
}
.btn-skip:hover
{
    background: #c6c6c6;
}
.btn-skip:active,
.btn-skip.active
{
    background: #acacac;
}

.icon-size-18
{
    width: 18px; 
    height: 18px;
}

.icon-size-20
{
    width: 20px; 
    height: 20px;
}

.icon-size-30
{
    width: 30px; 
    height: 30px;
}

.icon-size-35
{
    width: 35px; 
    height: 35px;
}

.icon-size-40
{
    width: 40px; 
    height: 40px;
}

.icon-size-45
{
    width: 45px; 
    height: 45px;
}

.icon-size-50
{
    width: 50px; 
    height: 50px;
}

.icon-size-55
{
    width: 55px; 
    height: 55px;
}

.icon-size-60
{
    width: 60px; 
    height: 60px;
}

[class^='icon']
{
    display: inline-block;
    vertical-align: middle; 

    fill: currentColor;
}

.icon-twitter
{
    fill: #55acee;
}

.icon-socialbro
{
    fill: #29c4d0;
}

.input-base
{
    font-size: 14px;
    line-height: 22px;
    position: relative;
    display: inline-block;
    width: 200px; 
    height: 36px;
    padding: 6px 10px;
    text-align: left;
    vertical-align: middle;
    color: #565656;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    background-color: #fff;
}
.input-base:focus
{
    border-color: #29c4d0;
}
.input-base.error
{
    color: #cc8383; 
    border-color: #cc8383;
    background-color: #ffe6e6;
}
.input-base.with-caret
{
    cursor: pointer;
}
.input-base.with-caret:after
{
    position: absolute;
    z-index: 1; 
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    content: '';
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    pointer-events: none;
    border-top: 5px solid #555;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}
.input-base > select
{
    position: absolute;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%; 
    padding: 6px 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: transparent;

            appearance: none;
       -moz-appearance: none;
    -webkit-appearance: none;
}
.input-base > select:-moz-focusring
{
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.input-group
{
    display: inline-table;
    overflow: hidden;
    width: 200px; 
    border-collapse: separate;
    border-width: 0;
}
.input-group .input-label + .input-base
{
    border-width: 1px 1px 1px 0;
    border-radius: 0 3px 3px 0;
}
.input-group .input-base
{
    display: table-cell;
    width: 100%; 
    height: 36px;
    padding: 6px 10px;
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px;
}
.input-group .input-group-button
{
    display: table-cell;
    height: 36px;
    vertical-align: middle;
}
.input-group .input-group-button > .btn
{
    width: 100%; 
    height: 36px;
    border-radius: 0 3px 3px 0;
}
.input-group .input-label
{
    font-weight: bold;
    line-height: 22px;
    display: table-cell;
    height: 34px;
    padding: 5px 10px;
    cursor: default;
    vertical-align: middle;
    white-space: nowrap; 
    color: #565656;
    border: 1px solid #d6d6d6;
    border-radius: 3px 0 0 3px;
    background: #f6f6f6;
}

.table
{
    display: table;
    overflow: hidden; 
    border-collapse: separate;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}

.table-heading
{
    font-weight: bold;
    line-height: 1;
    display: table-row;
    height: 60px;
    text-transform: uppercase; 
    color: #000;
    background-color: #f6f6f6;
}
.table-heading .table-cell
{
    border-bottom: 1px solid #d6d6d6;
}

.table-row
{
    display: table-row;
    height: 60px; 
    background-color: #eff7fd;
}
.table-row:nth-child(2n+1)
{
    background-color: #fff;
}

.table-cell
{
    display: table-cell;
    padding: 15px;
    vertical-align: middle;
}
.table-cell:not(:last-child)
{
    border-right: 1px solid #d6d6d6;
}

.table-cell-title,
.table-cell-subtitle
{
    display: block;
}

.table-cell-subtitle
{
    font-weight: normal;
    text-transform: none; 
    color: #5e5e5e;
}

.first-highlight .table-heading .table-cell:nth-child(1)
{
    color: #fff; 
    background-color: #f29556;
}
.first-highlight .table-heading .table-cell:nth-child(1) .table-cell-subtitle
{
    color: #fff;
}
.first-highlight .table-cell:nth-child(1)
{
    background-color: #f6e3d6;
}
.first-highlight .table-row:nth-child(2n+1) .table-cell:nth-child(1)
{
    background-color: #faf1eb;
}

.second-highlight .table-heading .table-cell:nth-child(2)
{
    color: #fff; 
    background-color: #f29556;
}
.second-highlight .table-heading .table-cell:nth-child(2) .table-cell-subtitle
{
    color: #fff;
}
.second-highlight .table-cell:nth-child(2)
{
    background-color: #f6e3d6;
}
.second-highlight .table-row:nth-child(2n+1) .table-cell:nth-child(2)
{
    background-color: #faf1eb;
}

.third-highlight .table-heading .table-cell:nth-child(3)
{
    color: #fff; 
    background-color: #f29556;
}
.third-highlight .table-heading .table-cell:nth-child(3) .table-cell-subtitle
{
    color: #fff;
}
.third-highlight .table-cell:nth-child(3)
{
    background-color: #f6e3d6;
}
.third-highlight .table-row:nth-child(2n+1) .table-cell:nth-child(3)
{
    background-color: #faf1eb;
}

.fourth-highlight .table-heading .table-cell:nth-child(4)
{
    color: #fff; 
    background-color: #f29556;
}
.fourth-highlight .table-heading .table-cell:nth-child(4) .table-cell-subtitle
{
    color: #fff;
}
.fourth-highlight .table-cell:nth-child(4)
{
    background-color: #f6e3d6;
}
.fourth-highlight .table-row:nth-child(2n+1) .table-cell:nth-child(4)
{
    background-color: #faf1eb;
}

.fifth-highlight .table-heading .table-cell:nth-child(5)
{
    color: #fff; 
    background-color: #f29556;
}
.fifth-highlight .table-heading .table-cell:nth-child(5) .table-cell-subtitle
{
    color: #fff;
}
.fifth-highlight .table-cell:nth-child(5)
{
    background-color: #f6e3d6;
}
.fifth-highlight .table-row:nth-child(2n+1) .table-cell:nth-child(5)
{
    background-color: #faf1eb;
}

.sixth-highlight .table-heading .table-cell:nth-child(6)
{
    color: #fff; 
    background-color: #f29556;
}
.sixth-highlight .table-heading .table-cell:nth-child(6) .table-cell-subtitle
{
    color: #fff;
}
.sixth-highlight .table-cell:nth-child(6)
{
    background-color: #f6e3d6;
}
.sixth-highlight .table-row:nth-child(2n+1) .table-cell:nth-child(6)
{
    background-color: #faf1eb;
}

.seventh-highlight .table-heading .table-cell:nth-child(7)
{
    color: #fff; 
    background-color: #f29556;
}
.seventh-highlight .table-heading .table-cell:nth-child(7) .table-cell-subtitle
{
    color: #fff;
}
.seventh-highlight .table-cell:nth-child(7)
{
    background-color: #f6e3d6;
}
.seventh-highlight .table-row:nth-child(2n+1) .table-cell:nth-child(7)
{
    background-color: #faf1eb;
}

.eigth-highlight .table-heading .table-cell:nth-child(8)
{
    color: #fff; 
    background-color: #f29556;
}
.eigth-highlight .table-heading .table-cell:nth-child(8) .table-cell-subtitle
{
    color: #fff;
}
.eigth-highlight .table-cell:nth-child(8)
{
    background-color: #f6e3d6;
}
.eigth-highlight .table-row:nth-child(2n+1) .table-cell:nth-child(8)
{
    background-color: #faf1eb;
}

.ninth-highlight .table-heading .table-cell:nth-child(9)
{
    color: #fff; 
    background-color: #f29556;
}
.ninth-highlight .table-heading .table-cell:nth-child(9) .table-cell-subtitle
{
    color: #fff;
}
.ninth-highlight .table-cell:nth-child(9)
{
    background-color: #f6e3d6;
}
.ninth-highlight .table-row:nth-child(2n+1) .table-cell:nth-child(9)
{
    background-color: #faf1eb;
}

/*

Breadcrumb
----------

Breadcrumb in two flavours: normal with arrow shapes and simple.

*/
.breadcrumb
{
    overflow: hidden; 
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background-color: white;
}

.breadcrumb-item
{
    position: relative;
    display: table-cell;
    margin-left: -2px;
    padding: 10px 10px 10px 25px;
    vertical-align: middle; 
    background-color: #f6f6f6;
}
.breadcrumb-item:after,
.breadcrumb-item:before
{
    position: absolute;
    z-index: 1; 
    left: 100%;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
}
.breadcrumb-item:before
{
    top: -1px; 
    border-width: 21px 21px 21px 13px;
    border-color: transparent transparent transparent #d6d6d6;
}
.breadcrumb-item:after
{
    top: 0; 
    border-width: 20px 20px 20px 12px;
    border-color: transparent transparent transparent #f6f6f6;
}

.breadcrumb-item:last-child
{
    background-color: #fff;
}
.breadcrumb-item:last-child:after,
.breadcrumb-item:last-child:before
{
    content: normal;
}

.breadcrumb-item-large
{
    height: 80px;
    padding: 10px 10px 10px 40px;
}
.breadcrumb-item-large:first-child
{
    padding-left: 25px;
}
.breadcrumb-item-large:before
{
    top: -1px; 
    border-width: 41px 41px 41px 25px;
    border-color: transparent transparent transparent #d6d6d6;
}
.breadcrumb-item-large:after
{
    top: 0; 
    border-width: 40px 40px 40px 24px;
    border-color: transparent transparent transparent #f6f6f6;
}

.breadcrumb-item-simple
{
    display: inline-block;
    padding: 10px 0;
    vertical-align: middle;
}
.breadcrumb-item-simple:after
{
    display: inline-block;
    margin: 0 10px; 
    content: '/';
    color: gray;
}

.breadcrumb-item-simple:first-child
{
    margin-left: 25px;
}

.breadcrumb-item-simple:last-child:after
{
    content: normal;
}

.acc-breadcrumb-item-wrapper
{
    position: relative;
    display: block;
    float: left;
    width: 160px; 
    height: 120px;
    margin: 8px 16px 8px 30px;
    background-color: #d6d6d6;
}
.acc-breadcrumb-item-wrapper:before
{
    position: absolute;
    top: 0;
    left: 160px;
    display: block;
    width: 0; 
    height: 0;
    content: '';
    -moz-transform: scale(.9999);
    border-width: 60px 28px;
    border-style: solid;
    border-color: transparent transparent transparent #d6d6d6;
}

.acc-breadcrumb-item
{
    position: absolute;
    top: 1px; 
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: #fff;
}
.acc-breadcrumb-item:before
{
    position: absolute;
    top: 0;
    left: 158px;
    display: block;
    width: 0; 
    height: 0;
    content: '';
    border-width: 59px 27px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}
.acc-breadcrumb-item:after
{
    font-size: 26px;
    line-height: 34px;
    position: absolute;
    z-index: 2; 
    right: -40px;
    bottom: 27px;
    width: 40px;
    height: 40px;
    margin-bottom: -20px;
    content: '+';
    text-align: center;
    color: #b1b1b1;
    border: 3px solid #d5f2d1;
    border-radius: 50%;
    background-color: #fff;
}

.acc-breadcrumb-item-back-top
{
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px; 
    height: 60px;
}
.acc-breadcrumb-item-back-top:before,
.acc-breadcrumb-item-back-top:after
{
    position: absolute;
    display: block;
    width: 0; 
    height: 0;
    content: '';
    border-width: 0 30px 60px 30px;
    border-style: solid;
}
.acc-breadcrumb-item-back-top:before
{
    top: 0; 
    right: 0;
    border-color: transparent #d6d6d6 transparent transparent;
}
.acc-breadcrumb-item-back-top:after
{
    top: 1px;
    right: -2px; 
    border-color: transparent white transparent transparent;
}

.acc-breadcrumb-item-back-bottom
{
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 30px; 
    height: 60px;
}
.acc-breadcrumb-item-back-bottom:before,
.acc-breadcrumb-item-back-bottom:after
{
    position: absolute;
    display: block;
    width: 0; 
    height: 0;
    content: '';
    border-width: 60px 30px 0 30px;
    border-style: solid;
}
.acc-breadcrumb-item-back-bottom:before
{
    top: 0; 
    right: 0;
    border-color: transparent #d6d6d6 transparent transparent;
}
.acc-breadcrumb-item-back-bottom:after
{
    right: -2px; 
    bottom: 1px;
    border-color: transparent white transparent transparent;
}

.acc-breadcrumb-item-amount
{
    font-size: 11px;
    line-height: 24px;
    position: absolute;
    z-index: 1; 
    right: 15px;
    bottom: 15px;
    left: 15px;
    text-align: center;
    color: #565656;
    border-radius: 4px;
    background-color: #d5f2d1;
}
.acc-breadcrumb-item-amount:after,
.acc-breadcrumb-item-amount:before
{
    position: absolute;
    top: 50%; 
    height: 4px;
    margin-top: -2px;
    content: '';
    background-color: #d5f2d1;
}
.acc-breadcrumb-item-amount:after
{
    right: -80px;
    width: 80px;
}
.acc-breadcrumb-item-amount:before
{
    left: -44px;
    width: 44px;
}

.acc-breadcrumb-item-event
{
    line-height: 1;
    display: table;
    width: 100%; 
    height: 81px;
    text-align: center;
}

.acc-breadcrumb-item-event-wrapper
{
    display: table-cell;
    vertical-align: middle;
}

.acc-breadcrumb-item-event-amount
{
    font-size: 22px;
    font-weight: bold; 
    display: block;
}

.acc-breadcrumb-item-event-action
{
    font-size: 11px;
    display: block;
    text-transform: uppercase;
}

.acc-breadcrumb-item-total
{
    line-height: 1;
    position: relative;
    display: table;
    width: 100%; 
    height: 88px;
    text-align: center;
    border-radius: 4px;
    background-color: #d5f2d1;
}

.acc-breadcrumb-item-total-wrapper
{
    display: table-cell;
    vertical-align: middle;
}

.acc-breadcrumb-item-total-amount
{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
}

.acc-breadcrumb-item-total-unit
{
    font-size: 14px;
    font-weight: normal;
    display: block;
    text-transform: uppercase;
}

.acc-breadcrumb-item-wrapper:first-child
{
    margin-left: 0;
}
.acc-breadcrumb-item-wrapper:first-child .acc-breadcrumb-item-back-bottom,
.acc-breadcrumb-item-wrapper:first-child .acc-breadcrumb-item-back-top
{
    display: none;
}
.acc-breadcrumb-item-wrapper:first-child,
.acc-breadcrumb-item-wrapper:first-child .acc-breadcrumb-item
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.acc-breadcrumb-item-wrapper:first-child .acc-breadcrumb-item-amount:before
{
    display: none;
}

.acc-breadcrumb-item-wrapper:nth-last-child(2) .acc-breadcrumb-item:after
{
    content: '=';
}

.acc-breadcrumb-item-wrapper:last-child
{
    margin-right: 0;
}
.acc-breadcrumb-item-wrapper:last-child,
.acc-breadcrumb-item-wrapper:last-child .acc-breadcrumb-item
{
    padding: 15px;
}
.acc-breadcrumb-item-wrapper:last-child:before,
.acc-breadcrumb-item-wrapper:last-child:after,
.acc-breadcrumb-item-wrapper:last-child .acc-breadcrumb-item:before,
.acc-breadcrumb-item-wrapper:last-child .acc-breadcrumb-item:after
{
    display: none;
}
.acc-breadcrumb-item-wrapper:last-child,
.acc-breadcrumb-item-wrapper:last-child .acc-breadcrumb-item
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel
{
    display: inline-block;
    overflow: hidden; 
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    background-color: #fff;
}

.panel-header
{
    padding: 12px 15px; 
    background-color: #f6f6f6;
}

.panel-header-title
{
    font-size: 18px;
    font-weight: normal; 
    color: #000;
}

.panel-body
{
    padding: 10px 15px;
}

/* 6. Layout */
/* 7. Vendor */
