<div class="panel">
  <header class="panel-header with-actions">
    <div class="action active">
      <div class="panel-header-menu">
        <button class="btn btn-icon handle">
          <svg class="icon-kebab">
            <use xlink:href="/svg-defs.svg#icon-kebab"></use>
          </svg>
          Menu
        </button>
        <div class="header-menu-actions">
          <button class="btn btn-contrast">
            <svg class="icon-trash">
              <use xlink:href="/svg-defs.svg#icon-trash"></use>
            </svg>
            Edit
          </button>
          <button class="btn btn-contrast">
            <svg class="icon-trash">
              <use xlink:href="/svg-defs.svg#icon-trash"></use>
            </svg>
            Delete
          </button>
        </div>
      </div>
    </div>
    <h2 class="panel-header-title">
      This is the title of the card
      <span class="subtitle">This is the subtitle</span>
    </h2>
    <button class="btn btn-icon action">
      <svg class="icon">
        <use xlink:href="/svg-defs.svg#icon-toggle"></use>
      </svg>
    </button>
  </header>

  <div class="panel-body">
    <dl class="card-data-list main-data">
      <dt class="data-title">Reference subtitle</dt>
      <dd class="data-value">99 999 / 999 999</dd>
    </dl>
    <hr class="card-split">
    <dl class="card-data-list">
      <dt class="data-title">Data title</dt>
      <dd class="data-value">DD / MM / AAAA<span class="value-label">subtitle</span></dd>
      <dt class="data-title">Data title</dt>
      <dd class="data-value">999 999<span class="value-label">subtitle</span></dd>
    </dl>
    <button class="btn btn-contrast card-status">
      <svg class="icon">
        <use xlink:href="/svg-defs.svg#icon-running"></use>
      </svg>
      Status
    </button>
    <div class="card-actions">
      <button class="btn action">
        Label
      </button>
    </div>
  </div>
</div>

