<div class="panel card">
  <header class="panel-header">
    <button class="btn btn-icon panel-header-action">
      <svg class="icon">
        <use xlink:href="/svg-defs.svg#icon-kebab"></use>
      </svg>
    </button>
    <h2 class="panel-header-title">
      This is the title of the card
      <span class="subtitle">This is the subtitle</span>
    </h2>

    <button class="btn btn-icon panel-header-action">
      <svg class="icon">
        <use xlink:href="/svg-defs.svg#icon-toggle"></use>
      </svg>
    </button>
  </header>

  <div class="hidden">
    <hr>
    <dl>
      <dt></dt>
      <dd></dd>
      <dt class="db mt2 hundred percent"></dt>
      <dd class="db mb2"></dd>
      <dt></dt>
      <dd></dd>
    </dl>
  </div>

  <div class="panel-body">
    <dl class="card-main-data">
      <dt class="card-data-title">Reference subtitle</dt>
      <dd class="card-data-value">99 999 / 999 999</dd>
    </dl>
    <hr class="card-split">
    <dl class="card-data">
      <dt class="card-data-title">Reference subtitle</dt>
      <dd class="card-data-value">DD/ MM // AAAA</dd>
      <dt class="card-data-title">Reference subtitle</dt>
      <dd class="card-data-value">999 999</dd>
    </dl>
    <div class="card-status">
      <button class="btn btn-contrast">
        <svg class="icon">
          <use xlink:href="/svg-defs.svg#icon-running"></use>
        </svg>
        Status
      </button>
    </div>
    <div class="card-actions">
      <button class="btn">
        Label
      </button>
    </div>
  </div>
</div>

