<div class="sb-tabs sb-tabs--right eighty percent mx-auto">
  <ul class="sb-tabs-group">
    <li class="sb-tab sb-tab-active"><a href="#/one">Very</a></li>
    <li class="sb-tab"><a href="#/two">Sexy</a></li>
    <li class="sb-tab"><a href="#/three">Tabs</a></li>
  </ul>

  <div class="sb-tabs-content  sb-tabs-content-active">
      Some text about Light sit amet, consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur. Sexy sexy  consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq. Tabs , consectetur adipisicing elit. Pariatur modi quod quo iure recusandae eligendi q.t, consectetur adipisicing elit. Pariatur modi quod quo iureq.
  </div>
</div>
