<input class="input-base large hundred percent db mb1" type="text" placeholder="Big placeholder">
<input class="input-base large dark hundred percent db mb1" type="text" placeholder="Dark placeholder">
<input class="input-base" type="text" placeholder="Test placeholder">
<button class="input-base with-caret">Trigger a Dropdown</button>
<div class="input-base with-caret">
  <select>
    <option value="">Select an option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select>
</div>
