.color-error {
    color: color($name: "error");
}

.color-text {
    color: color($name: "text");
}

.color-text-sd {
    color: color($name: "text", $variant: "secondary", $hue: "dark");
}

.color-titles {
    color: color($name: "titles");
}

.color-titles-s {
    color: color($name: "titles", $variant: "secondary");
}
