.with-caret {
    cursor: pointer;

    &:after {
        border-left: .36em solid transparent;
        border-right: .36em solid transparent;
        border-top: .36em solid currentColor;
        content: "";
        display: inline-block;
        height: 0;
        pointer-events: none;
        transform: translateY(-50%);
        width: 0;
        z-index: 1;
    }
}

.with-thin-caret {
    cursor: pointer;

    &:after {
        border-bottom-width: 1px;
        border-color: currentColor;
        border-left-width: 0;
        border-right-width: 1px;
        border-style: solid;
        border-top-width: 0;
        content: "";
        display: inline-block;
        height: 4px;
        pointer-events: none;
        transform: rotate(45deg) translateY(-50%);
        width: 4px;
        z-index: 1;
    }
}
