.with-caret {
    cursor: pointer;

    &:after {
        border-left: .36em solid transparent;
        border-right: .36em solid transparent;
        border-top: .36em solid currentColor;
        content: "";
        display: inline-block;
        height: 0;
        pointer-events: none;
        transform: translateY(-50%);
        width: 0;
        z-index: 1;
    }
}
