<ul class="pagination">
  <li class="pagination-item"><a class="pagination-prev" href="#">prev</a></li>
  <li class="pagination-item"><a class="pagination-link" href="#">1</a></li>
  <li class="pagination-item"><a class="pagination-link" href="#">2</a></li>
  <li class="pagination-item"><a class="pagination-link is-active" href="#">3</a></li>
  <li class="pagination-item"><a class="pagination-link" href="#">4</a></li>
  <li class="pagination-item"><a class="pagination-link" href="#">5</a></li>
  <li class="pagination-item"><a class="pagination-next" href="#">next</a></li>
</ul>
