/*

Variables, colors and other stuff
---------------------------------

*/

// Some media queries measures
$tablet: 480px;
$desktop: 800px;
$wide-desktop: 1280px;

// Base line height
$line-size: 1.5;

// To be used in the white-spacing helper
$space1: .5rem;
$space2: 1rem;
$space3: 2rem;
$space4: 3rem;
