<div class="grid-row wide">
  <div class="grid-column">
    <p>I'm a column. Full by default</p>
  </div>
  <div class="grid-column one-third">
    <p>Boring one-third column</p>
  </div>
  <div class="grid-column two-thirds">
    <p>Funny column two-third of width</p>
  </div>
</div>
<div class="grid-row wide">
  <div class="grid-column one-third">
    <p>Boring one-third column</p>
  </div>
  <div class="grid-column one-third">
    <p>Boring one-third column</p>
  </div>
  <div class="grid-column one-third">
    <p>Boring one-third column</p>
  </div>
</div>
