<ul class="acc-breadcrumb">
  <li class="acc-breadcrumb-item-wrapper">
    <div class="acc-breadcrumb-item">
      <div class="acc-breadcrumb-item-event">
        <div class="acc-breadcrumb-item-event-wrapper">
          <span class="acc-breadcrumb-item-event-amount">30</span>
          <span class="acc-breadcrumb-item-event-action">Retweets</span>
        </div>
      </div>
      <span class="acc-breadcrumb-item-amount">$0.10/unit</span>
    </div>
    <div class="acc-breadcrumb-item-back-top"></div>
    <div class="acc-breadcrumb-item-back-bottom"></div>
  </li>

  <li class="acc-breadcrumb-item-wrapper">
    <div class="acc-breadcrumb-item">
      <div class="acc-breadcrumb-item-event">
        <div class="acc-breadcrumb-item-event-wrapper">
          <span class="acc-breadcrumb-item-event-amount">10</span>
          <span class="acc-breadcrumb-item-event-action">Followers</span>
        </div>
      </div>
      <span class="acc-breadcrumb-item-amount">$0.10/unit</span>
    </div>
    <div class="acc-breadcrumb-item-back-top"></div>
    <div class="acc-breadcrumb-item-back-bottom"></div>
  </li>

  <li class="acc-breadcrumb-item-wrapper">
    <div class="acc-breadcrumb-item">
      <div class="acc-breadcrumb-item-total">
        <div class="acc-breadcrumb-item-total-wrapper">
          <div class="acc-breadcrumb-item-total-amount">
            <span>$7.80</span>
            <span class="acc-breadcrumb-item-total-unit">Roi</span>
          </div>
        </div>
      </div>
    </div>
    <div class="acc-breadcrumb-item-back-top"></div>
    <div class="acc-breadcrumb-item-back-bottom"></div>
  </li>
</ul>
