<ul class="color-samples clearfix">
  <li class="color-sample">
    <span class="color-sample-color color-socialbro-primary-dark">#26B7C2</span>
    <span class="color-sample-color color-socialbro-primary-regular">#29C4D0</span>
    <span class="color-sample-color color-socialbro-primary-light">#33CBD7</span>
    <span class="color-sample-description">
      Socialbro
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-socialbro-secondary-dark">#3B6D71</span>
    <span class="color-sample-color color-socialbro-secondary-regular">#41787C</span>
    <span class="color-sample-color color-socialbro-secondary-light">#478387</span>
    <span class="color-sample-description">
      Socialbro Secondary
    </span>
  </li>

  <li class="color-sample dark-text">
    <span class="color-sample-color color-socialbro-tertiary-dark">#B3ECF0</span>
    <span class="color-sample-color color-socialbro-tertiary-regular">#C1EFF3</span>
    <span class="color-sample-color color-socialbro-tertiary-light">#DDF7F8</span>
    <span class="color-sample-description">
      Socialbro Tertiary
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-service-primary-light">#009EE1</span>
    <span class="color-sample-color color-service-primary-regular">#00AAF2</span>
    <span class="color-sample-color color-service-primary-light">#04B4FF</span>
    <span class="color-sample-description">
      Service
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-service-secondary-dark">#58A9CB</span>
    <span class="color-sample-color color-service-secondary-regular">#65B0CF</span>
    <span class="color-sample-color color-service-secondary-light">#72B6D3</span>
    <span class="color-sample-description">
      Service Secondary
    </span>
  </li>

  <li class="color-sample dark-text">
    <span class="color-sample-color color-service-tertiary-dark">#CFE7FB</span>
    <span class="color-sample-color color-service-tertiary-regular">#DFEFFC</span>
    <span class="color-sample-color color-service-tertiary-light">#EFF7FD</span>
    <span class="color-sample-description">
      Service Tertiary
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-error-primary-dark">#C60E32</span>
    <span class="color-sample-color color-error-primary-regular">#D60F36</span>
    <span class="color-sample-color color-error-primary-light">#E6103A</span>
    <span class="color-sample-description">
      Error
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-error-secondary-dark">#C77777</span>
    <span class="color-sample-color color-error-secondary-regular">#CC8383</span>
    <span class="color-sample-color color-error-secondary-light">#D18F8F</span>
    <span class="color-sample-description">
      Error Secondary
    </span>
  </li>

  <li class="color-sample dark-text">
    <span class="color-sample-color color-error-tertiary-dark">#FFD5D5</span>
    <span class="color-sample-color color-error-tertiary-regular">#FFE6E6</span>
    <span class="color-sample-color color-error-tertiary-light">#FFF7F7</span>
    <span class="color-sample-description">
      Error Tertiary
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-succeed-primary-dark">#6AB624</span>
    <span class="color-sample-color color-succeed-primary-regular">#72C427</span>
    <span class="color-sample-color color-succeed-primary-light">#7AD22A</span>
    <span class="color-sample-description">
      Succeed
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-succeed-secondary-dark">#97B272</span>
    <span class="color-sample-color color-succeed-secondary-regular">#9FB87D</span>
    <span class="color-sample-color color-succeed-secondary-light">#A7BE88</span>
    <span class="color-sample-description">
      Succeed Secondary
    </span>
  </li>

  <li class="color-sample dark-text">
    <span class="color-sample-color color-succeed-tertiary-dark">#D5F2D1</span>
    <span class="color-sample-color color-succeed-tertiary-regular">#E1F6DE</span>
    <span class="color-sample-color color-succeed-tertiary-light">#EDFAEB</span>
    <span class="color-sample-description">
      Succeed Tertiary
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-primary-primary-dark">#F18B46</span>
    <span class="color-sample-color color-primary-primary-regular">#F29556</span>
    <span class="color-sample-color color-primary-primary-light">#F39F66</span>
    <span class="color-sample-description">
      Primary
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-primary-secondary-dark">#DC996C</span>
    <span class="color-sample-color color-primary-secondary-regular">#F0D2BE</span>
    <span class="color-sample-color color-primary-secondary-light">#F3DCCC</span>
    <span class="color-sample-description">
      Primary Secondary
    </span>
  </li>

  <li class="color-sample dark-text">
    <span class="color-sample-color color-primary-tertiary-dark">#F2EED1</span>
    <span class="color-sample-color color-primary-tertiary-regular">#F6F3DE</span>
    <span class="color-sample-color color-primary-tertiary-light">#F6F3DE</span>
    <span class="color-sample-description">
      Primary Tertiary
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-noticeable-primary-dark">#F13C70</span>
    <span class="color-sample-color color-noticeable-primary-regular">#F24C7C</span>
    <span class="color-sample-color color-noticeable-primary-light">#F35C88</span>
    <span class="color-sample-description">
      Noticeable
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-noticeable-secondary-dark">#F78BAA</span>
    <span class="color-sample-color color-noticeable-secondary-regular">#F89BB6</span>
    <span class="color-sample-color color-noticeable-secondary-light">#F9ABC2</span>
    <span class="color-sample-description">
      Noticeable Secondary
    </span>
  </li>

  <li class="color-sample dark-text">
    <span class="color-sample-color color-noticeable-tertiary-dark">#FBCBD9</span>
    <span class="color-sample-color color-noticeable-tertiary-regular">#FCDAE4</span>
    <span class="color-sample-color color-noticeable-tertiary-light">#FDEAF0</span>
    <span class="color-sample-description">
      Noticeable Tertiary
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-titles-primary-dark">#000000</span>
    <span class="color-sample-color color-titles-primary-regular">#191919</span>
    <span class="color-sample-color color-titles-primary-light">#333333</span>
    <span class="color-sample-description">
      Titles
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-titles-secondary-dark">#804997</span>
    <span class="color-sample-color color-titles-secondary-regular">#8A4FA2</span>
    <span class="color-sample-color color-titles-secondary-light">#9355AD</span>
    <span class="color-sample-description">
      Titles Secondary
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-text-primary-dark">#565656</span>
    <span class="color-sample-color color-text-primary-regular">#5E5E5E</span>
    <span class="color-sample-color color-text-primary-light">#676767</span>
    <span class="color-sample-description">
      Text
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-text-secondary-dark">#B1B1B1</span>
    <span class="color-sample-color color-text-secondary-regular">#B9B9B9</span>
    <span class="color-sample-color color-text-secondary-light">#D6D6D6</span>
    <span class="color-sample-description">
      Text Secondary
    </span>
  </li>

  <li class="color-sample dark-text">
    <span class="color-sample-color color-background-primary-dark">#F2F2F2</span>
    <span class="color-sample-color color-background-primary-regular">#F6F6F6</span>
    <span class="color-sample-color color-background-primary-light">#FFFFFF</span>
    <span class="color-sample-description">
      Background
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-border-primary-dark">#C2C8D2</span>
    <span class="color-sample-color color-border-primary-regular">#CCD1D9</span>
    <span class="color-sample-color color-border-primary-light">#D6DAE0</span>
    <span class="color-sample-description">
      Border
    </span>
  </li>

  <li class="color-sample">
    <span class="color-sample-color color-border-secondary-dark">#CECECE</span>
    <span class="color-sample-color color-border-secondary-regular">#D6D6D6</span>
    <span class="color-sample-color color-border-secondary-light">#DFDFDF</span>
    <span class="color-sample-description">
      Border Secondary
    </span>
  </li>
</ul>
