<div class="icons-holder clearfix">
  
  <div class="icon-container">
    <svg class="icon-add-source">
      <use xlink:href="/svg-defs.svg#icon-add-source"></use>
    </svg>
    <span class="icon-container-name">add-source</span>
  </div>

  <div class="icon-container">
    <svg class="icon-add-blacklist">
      <use xlink:href="/svg-defs.svg#icon-add-blacklist"></use>
    </svg>
    <span class="icon-container-name">add-blacklist</span>
  </div>

  <div class="icon-container">
    <svg class="icon-add-whitelist">
      <use xlink:href="/svg-defs.svg#icon-add-whitelist"></use>
    </svg>
    <span class="icon-container-name">add-whitelist</span>
  </div>

  <div class="icon-container">
    <svg class="icon-ads">
      <use xlink:href="/svg-defs.svg#icon-ads"></use>
    </svg>
    <span class="icon-container-name">ads</span>
  </div>

  <div class="icon-container">
    <svg class="icon-account">
      <use xlink:href="/svg-defs.svg#icon-account"></use>
    </svg>
    <span class="icon-container-name">account</span>
  </div>

  <div class="icon-container">
    <svg class="icon-at">
      <use xlink:href="/svg-defs.svg#icon-at"></use>
    </svg>
    <span class="icon-container-name">at</span>
  </div>

  <div class="icon-container">
    <svg class="icon-at-radius">
      <use xlink:href="/svg-defs.svg#icon-at-radius"></use>
    </svg>
    <span class="icon-container-name">at-radius</span>
  </div>

  <div class="icon-container">
    <svg class="icon-attach">
      <use xlink:href="/svg-defs.svg#icon-attach"></use>
    </svg>
    <span class="icon-container-name">attach</span>
  </div>

  <div class="icon-container">
    <svg class="icon-audience">
      <use xlink:href="/svg-defs.svg#icon-audience"></use>
    </svg>
    <span class="icon-container-name">audience</span>
  </div>

  <div class="icon-container">
    <svg class="icon-audience-remove">
      <use xlink:href="/svg-defs.svg#icon-audience-remove"></use>
    </svg>
    <span class="icon-container-name">audience-remove</span>
  </div>

  <div class="icon-container">
    <svg class="icon-barchart">
      <use xlink:href="/svg-defs.svg#icon-barchart"></use>
    </svg>
    <span class="icon-container-name">barchart</span>
  </div>

  <div class="icon-container">
    <svg class="icon-behaviour">
      <use xlink:href="/svg-defs.svg#icon-behaviour"></use>
    </svg>
    <span class="icon-container-name">behaviour</span>
  </div>
  
  <div class="icon-container">
    <svg class="icon-bell">
      <use xlink:href="/svg-defs.svg#icon-bell"></use>
    </svg>
    <span class="icon-container-name">bell</span>
  </div>

  <div class="icon-container">
    <svg class="icon-binoculars">
      <use xlink:href="/svg-defs.svg#icon-binoculars"></use>
    </svg>
    <span class="icon-container-name">binoculars</span>
  </div>

  <div class="icon-container">
    <svg class="icon-block-user">
      <use xlink:href="/svg-defs.svg#icon-block-user"></use>
    </svg>
    <span class="icon-container-name">block-user</span>
  </div>

  <div class="icon-container">
    <svg class="icon-bubble-cog">
      <use xlink:href="/svg-defs.svg#icon-bubble-cog"></use>
    </svg>
    <span class="icon-container-name">bubble-cog</span>
  </div>

  <div class="icon-container">
    <svg class="icon-bubble-check">
      <use xlink:href="/svg-defs.svg#icon-bubble-check"></use>
    </svg>
    <span class="icon-container-name">bubble-check</span>
  </div>

  <div class="icon-container">
    <svg class="icon-bubble-rt">
      <use xlink:href="/svg-defs.svg#icon-bubble-rt"></use>
    </svg>
    <span class="icon-container-name">bubble-rt</span>
  </div>

  <div class="icon-container">
    <svg class="icon-bubble-twitter">
      <use xlink:href="/svg-defs.svg#icon-bubble-twitter"></use>
    </svg>
    <span class="icon-container-name">bubble-twitter</span>
  </div>

  <div class="icon-container">
    <svg class="icon-burguer">
      <use xlink:href="/svg-defs.svg#icon-burguer"></use>
    </svg>
    <span class="icon-container-name">burguer</span>
  </div>

  <div class="icon-container">
    <svg class="icon-calendar">
      <use xlink:href="/svg-defs.svg#icon-calendar"></use>
    </svg>
    <span class="icon-container-name">calendar</span>
  </div>

  <div class="icon-container">
    <svg class="icon-camera">
      <use xlink:href="/svg-defs.svg#icon-camera"></use>
    </svg>
    <span class="icon-container-name">camera</span>
  </div>

  <div class="icon-container">
    <svg class="icon-check">
      <use xlink:href="/svg-defs.svg#icon-check"></use>
    </svg>
    <span class="icon-container-name">check</span>
  </div>

  <div class="icon-container">
    <svg class="icon-check-radius">
      <use xlink:href="/svg-defs.svg#icon-check-radius"></use>
    </svg>
    <span class="icon-container-name">check-radius</span>
  </div>

  <div class="icon-container">
    <svg class="icon-chronometer">
      <use xlink:href="/svg-defs.svg#icon-chronometer"></use>
    </svg>
    <span class="icon-container-name">chronometer</span>
  </div>

  <div class="icon-container">
    <svg class="icon-chrono-graph">
      <use xlink:href="/svg-defs.svg#icon-chrono-graph"></use>
    </svg>
    <span class="icon-container-name">chrono-graph</span>
  </div>

  <div class="icon-container">
    <svg class="icon-circle-check">
      <use xlink:href="/svg-defs.svg#icon-circle-check"></use>
    </svg>
    <span class="icon-container-name">circle-check</span>
  </div>

  <div class="icon-container">
    <svg class="icon-circle-line">
      <use xlink:href="/svg-defs.svg#icon-circle-line"></use>
    </svg>
    <span class="icon-container-name">circle-line</span>
  </div>

  <div class="icon-container">
    <svg class="icon-clock">
      <use xlink:href="/svg-defs.svg#icon-clock"></use>
    </svg>
    <span class="icon-container-name">clock</span>
  </div>

  <div class="icon-container">
    <svg class="icon-clone">
      <use xlink:href="/svg-defs.svg#icon-clone"></use>
    </svg>
    <span class="icon-container-name">clone</span>
  </div>

  <div class="icon-container">
    <svg class="icon-close">
      <use xlink:href="/svg-defs.svg#icon-close"></use>
    </svg>
    <span class="icon-container-name">close</span>
  </div>
  
  <div class="icon-container">
    <svg class="icon-comparison">
      <use xlink:href="/svg-defs.svg#icon-comparison"></use>
    </svg>
    <span class="icon-container-name">comparison</span>
  </div>

  <div class="icon-container">
    <svg class="icon-consumption">
      <use xlink:href="/svg-defs.svg#icon-consumption"></use>
    </svg>
    <span class="icon-container-name">consumption</span>
  </div>

  <div class="icon-container">
    <svg class="icon-content">
      <use xlink:href="/svg-defs.svg#icon-content"></use>
    </svg>
    <span class="icon-container-name">content</span>
  </div>

  <div class="icon-container">
    <svg class="icon-copy">
      <use xlink:href="/svg-defs.svg#icon-copy"></use>
    </svg>
    <span class="icon-container-name">copy</span>
  </div>

  <div class="icon-container">
    <svg class="icon-credit-card">
      <use xlink:href="/svg-defs.svg#icon-credit-card"></use>
    </svg>
    <span class="icon-container-name">credit-card</span>
  </div>

  <div class="icon-container">
    <svg class="icon-cross">
      <use xlink:href="/svg-defs.svg#icon-cross"></use>
    </svg>
    <span class="icon-container-name">cross</span>
  </div>

  <div class="icon-container">
    <svg class="icon-csv">
      <use xlink:href="/svg-defs.svg#icon-csv"></use>
    </svg>
    <span class="icon-container-name">csv</span>
  </div>

  <div class="icon-container">
    <svg class="icon-csv-2">
      <use xlink:href="/svg-defs.svg#icon-csv-2"></use>
    </svg>
    <span class="icon-container-name">csv-2</span>
  </div>

  <div class="icon-container">
    <svg class="icon-demographics">
      <use xlink:href="/svg-defs.svg#icon-demographics"></use>
    </svg>
    <span class="icon-container-name">demographics</span>
  </div>

  <div class="icon-container">
    <svg class="icon-demographics-round">
      <use xlink:href="/svg-defs.svg#icon-demographics-round"></use>
    </svg>
    <span class="icon-container-name">demographics-round</span>
  </div>

  <div class="icon-container">
    <svg class="icon-document">
      <use xlink:href="/svg-defs.svg#icon-document"></use>
    </svg>
    <span class="icon-container-name">document</span>
  </div>

  <div class="icon-container">
    <svg class="icon-download">
      <use xlink:href="/svg-defs.svg#icon-download"></use>
    </svg>
    <span class="icon-container-name">download</span>
  </div>

  <div class="icon-container">
    <svg class="icon-drag">
      <use xlink:href="/svg-defs.svg#icon-drag"></use>
    </svg>
    <span class="icon-container-name">drag</span>
  </div>

  <div class="icon-container">
    <svg class="icon-draft">
      <use xlink:href="/svg-defs.svg#icon-draft"></use>
    </svg>
    <span class="icon-container-name">draft</span>
  </div>

  <div class="icon-container">
    <svg class="icon-edit">
      <use xlink:href="/svg-defs.svg#icon-edit"></use>
    </svg>
    <span class="icon-container-name">edit</span>
  </div>
  
  <div class="icon-container">
    <svg class="icon-edit-notes">
      <use xlink:href="/svg-defs.svg#icon-edit-notes"></use>
    </svg>
    <span class="icon-container-name">edit-notes</span>
  </div>
  
  <div class="icon-container">
    <svg class="icon-edit-tags">
      <use xlink:href="/svg-defs.svg#icon-edit-tags"></use>
    </svg>
    <span class="icon-container-name">edit-tags</span>
  </div>

  <div class="icon-container">
    <svg class="icon-engagement">
      <use xlink:href="/svg-defs.svg#icon-engagement"></use>
    </svg>
    <span class="icon-container-name">engagement</span>
  </div>

  <div class="icon-container">
    <svg class="icon-envelope">
      <use xlink:href="/svg-defs.svg#icon-envelope"></use>
    </svg>
    <span class="icon-container-name">envelope</span>
  </div>

  <div class="icon-container">
    <svg class="icon-expand">
      <use xlink:href="/svg-defs.svg#icon-expand"></use>
    </svg>
    <span class="icon-container-name">expand</span>
  </div>

  <div class="icon-container">
    <svg class="icon-fav">
      <use xlink:href="/svg-defs.svg#icon-fav"></use>
    </svg>
    <span class="icon-container-name">fav</span>
  </div>

  <div class="icon-container">
    <svg class="icon-filters">
      <use xlink:href="/svg-defs.svg#icon-filters"></use>
    </svg>
    <span class="icon-container-name">filters</span>
  </div>

  <div class="icon-container">
    <svg class="icon-flag">
      <use xlink:href="/svg-defs.svg#icon-flag"></use>
    </svg>
    <span class="icon-container-name">flag</span>
  </div>

  <div class="icon-container">
    <svg class="icon-flask">
      <use xlink:href="/svg-defs.svg#icon-flask"></use>
    </svg>
    <span class="icon-container-name">flask</span>
  </div>

  <div class="icon-container">
    <svg class="icon-geopoint">
      <use xlink:href="/svg-defs.svg#icon-geopoint"></use>
    </svg>
    <span class="icon-container-name">geopoint</span>
  </div>

  <div class="icon-container">
    <svg class="icon-gift">
      <use xlink:href="/svg-defs.svg#icon-gift"></use>
    </svg>
    <span class="icon-container-name">gift</span>
  </div>

  <div class="icon-container">
    <svg class="icon-goal-radius">
      <use xlink:href="/svg-defs.svg#icon-goal-radius"></use>
    </svg>
    <span class="icon-container-name">goal-radius</span>
  </div>

  <div class="icon-container">
    <svg class="icon-group-people">
      <use xlink:href="/svg-defs.svg#icon-group-people"></use>
    </svg>
    <span class="icon-container-name">group-people</span>
  </div>

  <div class="icon-container">
    <svg class="icon-hashtag">
      <use xlink:href="/svg-defs.svg#icon-hashtag"></use>
    </svg>
    <span class="icon-container-name">hashtag</span>
  </div>

  <div class="icon-container">
    <svg class="icon-headphones">
      <use xlink:href="/svg-defs.svg#icon-headphones"></use>
    </svg>
    <span class="icon-container-name">headphones</span>
  </div>

  <div class="icon-container">
    <svg class="icon-heart">
      <use xlink:href="/svg-defs.svg#icon-heart"></use>
    </svg>
    <span class="icon-container-name">heart</span>
  </div>

  <div class="icon-container">
    <svg class="icon-house">
      <use xlink:href="/svg-defs.svg#icon-house"></use>
    </svg>
    <span class="icon-container-name">house</span>
  </div>

  <div class="icon-container">
    <svg class="icon-i-profile-follow">
      <use xlink:href="/svg-defs.svg#icon-i-profile-follow"></use>
    </svg>
    <span class="icon-container-name">i-profile-follow</span>
  </div>

  <div class="icon-container">
    <svg class="icon-i-profile-follow-warn">
      <use xlink:href="/svg-defs.svg#icon-i-profile-follow-warn"></use>
    </svg>
    <span class="icon-container-name">i-profile-follow-warn</span>
  </div>

  <div class="icon-container">
    <svg class="icon-i-profile-follow-none">
      <use xlink:href="/svg-defs.svg#icon-i-profile-follow-none"></use>
    </svg>
    <span class="icon-container-name">i-profile-follow-none</span>
  </div>

  <div class="icon-container">
    <svg class="icon-i-profile-follow-none-warn">
      <use xlink:href="/svg-defs.svg#icon-i-profile-follow-none-warn"></use>
    </svg>
    <span class="icon-container-name">i-profile-follow-none-warn</span>
  </div>

  <div class="icon-container">
    <svg class="icon-i-profile-nofollow">
      <use xlink:href="/svg-defs.svg#icon-i-profile-nofollow"></use>
    </svg>
    <span class="icon-container-name">i-profile-nofollow</span>
  </div>

  <div class="icon-container">
    <svg class="icon-i-profile-nofollow-warn">
      <use xlink:href="/svg-defs.svg#icon-i-profile-nofollow-warn"></use>
    </svg>
    <span class="icon-container-name">i-profile-nofollow-warn</span>
  </div>

  <div class="icon-container">
    <svg class="icon-i-profile-reciprocal">
      <use xlink:href="/svg-defs.svg#icon-i-profile-reciprocal"></use>
    </svg>
    <span class="icon-container-name">i-profile-reciprocal</span>
  </div>

  <div class="icon-container">
    <svg class="icon-i-profile-reciprocal-warn">
      <use xlink:href="/svg-defs.svg#icon-i-profile-reciprocal-warn"></use>
    </svg>
    <span class="icon-container-name">i-profile-reciprocal-warn</span>
  </div>

  <div class="icon-container">
    <svg class="icon-image">
      <use xlink:href="/svg-defs.svg#icon-image"></use>
    </svg>
    <span class="icon-container-name">image</span>
  </div>

  <div class="icon-container">
    <svg class="icon-impressions">
      <use xlink:href="/svg-defs.svg#icon-impressions"></use>
    </svg>
    <span class="icon-container-name">impressions</span>
  </div>

  <div class="icon-container">
    <svg class="icon-individual-bttt">
      <use xlink:href="/svg-defs.svg#icon-individual-bttt"></use>
    </svg>
    <span class="icon-container-name">individual-bttt</span>
  </div>

  <div class="icon-container">
    <svg class="icon-info-radius">
      <use xlink:href="/svg-defs.svg#icon-info-radius"></use>
    </svg>
    <span class="icon-container-name">info-radius</span>
  </div>

  <div class="icon-container">
    <svg class="icon-instagram">
      <use xlink:href="/svg-defs.svg#icon-instagram"></use>
    </svg>
    <span class="icon-container-name">instagram</span>
  </div>

  <div class="icon-container">
    <svg class="icon-instagram-radius">
      <use xlink:href="/svg-defs.svg#icon-instagram-radius"></use>
    </svg>
    <span class="icon-container-name">instagram-radius</span>
  </div>

  <div class="icon-container">
    <svg class="icon-instagram-comment">
      <use xlink:href="/svg-defs.svg#icon-instagram-comment"></use>
    </svg>
    <span class="icon-container-name">instagram-comment</span>
  </div>

  <div class="icon-container">
    <svg class="icon-instagram-love">
      <use xlink:href="/svg-defs.svg#icon-instagram-love"></use>
    </svg>
    <span class="icon-container-name">instagram-love</span>
  </div>

  <div class="icon-container">
    <svg class="icon-kebab">
      <use xlink:href="/svg-defs.svg#icon-kebab"></use>
    </svg>
    <span class="icon-container-name">kebab</span>
  </div>

  <div class="icon-container">
    <svg class="icon-kred">
      <use xlink:href="/svg-defs.svg#icon-kred"></use>
    </svg>
    <span class="icon-container-name">kred</span>
  </div>
  
  <div class="icon-container">
    <svg class="icon-learn">
      <use xlink:href="/svg-defs.svg#icon-learn"></use>
    </svg>
    <span class="icon-container-name">learn</span>
  </div>

  <div class="icon-container">
    <svg class="icon-lifestyle">
      <use xlink:href="/svg-defs.svg#icon-lifestyle"></use>
    </svg>
    <span class="icon-container-name">lifestyle</span>
  </div>

  <div class="icon-container">
    <svg class="icon-list">
      <use xlink:href="/svg-defs.svg#icon-list"></use>
    </svg>
    <span class="icon-container-name">list</span>
  </div>

  <div class="icon-container">
    <svg class="icon-list-add">
      <use xlink:href="/svg-defs.svg#icon-list-add"></use>
    </svg>
    <span class="icon-container-name">list-add</span>
  </div>

  <div class="icon-container">
    <svg class="icon-list-edit">
      <use xlink:href="/svg-defs.svg#icon-list-edit"></use>
    </svg>
    <span class="icon-container-name">list-edit</span>
  </div>

  <div class="icon-container">
    <svg class="icon-list-remove">
      <use xlink:href="/svg-defs.svg#icon-list-remove"></use>
    </svg>
    <span class="icon-container-name">list-remove</span>
  </div>

  <div class="icon-container">
    <svg class="icon-list-search">
      <use xlink:href="/svg-defs.svg#icon-list-search"></use>
    </svg>
    <span class="icon-container-name">list-search</span>
  </div>

  <div class="icon-container">
    <svg class="icon-lifevest">
      <use xlink:href="/svg-defs.svg#icon-lifevest"></use>
    </svg>
    <span class="icon-container-name">lifevest</span>
  </div>

  <div class="icon-container">
    <svg class="icon-location">
      <use xlink:href="/svg-defs.svg#icon-location"></use>
    </svg>
    <span class="icon-container-name">location</span>
  </div>

  <div class="icon-container">
    <svg class="icon-lock">
      <use xlink:href="/svg-defs.svg#icon-lock"></use>
    </svg>
    <span class="icon-container-name">lock</span>
  </div>

  <div class="icon-container">
    <svg class="icon-log-list">
      <use xlink:href="/svg-defs.svg#icon-log-list"></use>
    </svg>
    <span class="icon-container-name">log-list</span>
  </div>

  <div class="icon-container">
    <svg class="icon-magnet">
      <use xlink:href="/svg-defs.svg#icon-magnet"></use>
    </svg>
    <span class="icon-container-name">magnet</span>
  </div>
  
  <div class="icon-container">
    <svg class="icon-magnet-alt">
      <use xlink:href="/svg-defs.svg#icon-magnet-alt"></use>
    </svg>
    <span class="icon-container-name">magnet-alt</span>
  </div>

  <div class="icon-container">
    <svg class="icon-menu-narrow">
      <use xlink:href="/svg-defs.svg#icon-menu-narrow"></use>
    </svg>
    <span class="icon-container-name">menu-narrow</span>
  </div>

  <div class="icon-container">
    <svg class="icon-microscope">
      <use xlink:href="/svg-defs.svg#icon-microscope"></use>
    </svg>
    <span class="icon-container-name">microscope</span>
  </div>

  <div class="icon-container">
    <svg class="icon-minus-radius">
      <use xlink:href="/svg-defs.svg#icon-minus-radius"></use>
    </svg>
    <span class="icon-container-name">minus-radius</span>
  </div>

  <div class="icon-container">
    <svg class="icon-monitoring">
      <use xlink:href="/svg-defs.svg#icon-monitoring"></use>
    </svg>
    <span class="icon-container-name">monitoring</span>
  </div>

  <div class="icon-container">
    <svg class="icon-mute-user">
      <use xlink:href="/svg-defs.svg#icon-mute-user"></use>
    </svg>
    <span class="icon-container-name">mute-user</span>
  </div>

  <div class="icon-container">
    <svg class="icon-nimble">
      <use xlink:href="/svg-defs.svg#icon-nimble"></use>
    </svg>
    <span class="icon-container-name">nimble</span>
  </div>

  <div class="icon-container">
    <svg class="icon-nut">
      <use xlink:href="/svg-defs.svg#icon-nut"></use>
    </svg>
    <span class="icon-container-name">nut</span>
  </div>

  <div class="icon-container">
    <svg class="icon-nuts">
      <use xlink:href="/svg-defs.svg#icon-nuts"></use>
    </svg>
    <span class="icon-container-name">nuts</span>
  </div>

  <div class="icon-container">
    <svg class="icon-open-envelope">
      <use xlink:href="/svg-defs.svg#icon-open-envelope"></use>
    </svg>
    <span class="icon-container-name">open-envelope</span>
  </div>

  <div class="icon-container">
    <svg class="icon-open-in-instagram">
      <use xlink:href="/svg-defs.svg#icon-open-in-instagram"></use>
    </svg>
    <span class="icon-container-name">open-in-instagram</span>
  </div>
  
  <div class="icon-container">
    <svg class="icon-pause">
      <use xlink:href="/svg-defs.svg#icon-pause"></use>
    </svg>
    <span class="icon-container-name">Pause</span>
  </div>

  <div class="icon-container">
    <svg class="icon-pdf">
      <use xlink:href="/svg-defs.svg#icon-pdf"></use>
    </svg>
    <span class="icon-container-name">pdf</span>
  </div>

  <div class="icon-container">
    <svg class="icon-pdf-2">
      <use xlink:href="/svg-defs.svg#icon-pdf-2"></use>
    </svg>
    <span class="icon-container-name">pdf-2</span>
  </div>

  <div class="icon-container">
    <svg class="icon-personality">
      <use xlink:href="/svg-defs.svg#icon-personality"></use>
    </svg>
    <span class="icon-container-name">personality</span>
  </div>

  <div class="icon-container">
    <svg class="icon-piechart">
      <use xlink:href="/svg-defs.svg#icon-piechart"></use>
    </svg>
    <span class="icon-container-name">piechart</span>
  </div>

  <div class="icon-container">
    <svg class="icon-pin">
      <use xlink:href="/svg-defs.svg#icon-pin"></use>
    </svg>
    <span class="icon-container-name">pin</span>
  </div>

  <div class="icon-container">
    <svg class="icon-play-video">
      <use xlink:href="/svg-defs.svg#icon-play-video"></use>
    </svg>
    <span class="icon-container-name">play-video</span>
  </div>

  <div class="icon-container">
    <svg class="icon-plugin">
      <use xlink:href="/svg-defs.svg#icon-plugin"></use>
    </svg>
    <span class="icon-container-name">plugin</span>
  </div>

  <div class="icon-container">
    <svg class="icon-plus-radius">
      <use xlink:href="/svg-defs.svg#icon-plus-radius"></use>
    </svg>
    <span class="icon-container-name">plus-radius</span>
  </div>

  <div class="icon-container">
    <svg class="icon-plus-radius-custom" style="fill: #29c4d0; color: grey">
      <use xlink:href="/svg-defs.svg#icon-plus-radius-custom"></use>
    </svg>
    <span class="icon-container-name">plus-radius-custom</span>
  </div>

  <div class="icon-container">
    <svg class="icon-profile-information">
      <use xlink:href="/svg-defs.svg#icon-profile-information"></use>
    </svg>
    <span class="icon-container-name">profile-information</span>
  </div>

  <div class="icon-container">
    <svg class="icon-promoted-boxed">
      <use xlink:href="/svg-defs.svg#icon-promoted-boxed"></use>
    </svg>
    <span class="icon-container-name">promoted-boxed</span>
  </div>

  <div class="icon-container">
    <svg class="icon-question-radius">
      <use xlink:href="/svg-defs.svg#icon-question-radius"></use>
    </svg>
    <span class="icon-container-name">question-radius</span>
  </div>

  <div class="icon-container">
    <svg class="icon-ragdoll-add">
      <use xlink:href="/svg-defs.svg#icon-ragdoll-add"></use>
    </svg>
    <span class="icon-container-name">ragdoll-add</span>
  </div>

  <div class="icon-container">
    <svg class="icon-ragdoll-arrow">
      <use xlink:href="/svg-defs.svg#icon-ragdoll-arrow"></use>
    </svg>
    <span class="icon-container-name">ragdoll-arrow</span>
  </div>

  <div class="icon-container">
    <svg class="icon-ragdoll-remove">
      <use xlink:href="/svg-defs.svg#icon-ragdoll-remove"></use>
    </svg>
    <span class="icon-container-name">ragdoll-remove</span>
  </div>

  <div class="icon-container">
    <svg class="icon-relationships">
      <use xlink:href="/svg-defs.svg#icon-relationships"></use>
    </svg>
    <span class="icon-container-name">relationships</span>
  </div>

  <div class="icon-container">
    <svg class="icon-reload">
      <use xlink:href="/svg-defs.svg#icon-reload"></use>
    </svg>
    <span class="icon-container-name">Reload</span>
  </div>

  <div class="icon-container">
    <svg class="icon-remove-blacklist">
      <use xlink:href="/svg-defs.svg#icon-remove-blacklist"></use>
    </svg>
    <span class="icon-container-name">remove-blacklist</span>
  </div>

  <div class="icon-container">
    <svg class="icon-remove-whitelist">
      <use xlink:href="/svg-defs.svg#icon-remove-whitelist"></use>
    </svg>
    <span class="icon-container-name">remove-whitelist</span>
  </div>

  <div class="icon-container">
    <svg class="icon-rep">
      <use xlink:href="/svg-defs.svg#icon-rep"></use>
    </svg>
    <span class="icon-container-name">rep</span>
  </div>

  <div class="icon-container">
    <svg class="icon-report">
      <use xlink:href="/svg-defs.svg#icon-report"></use>
    </svg>
    <span class="icon-container-name">report</span>
  </div>

  <div class="icon-container">
    <svg class="icon-rocket">
      <use xlink:href="/svg-defs.svg#icon-rocket"></use>
    </svg>
    <span class="icon-container-name">rocket</span>
  </div>

  <div class="icon-container">
    <svg class="icon-rt">
      <use xlink:href="/svg-defs.svg#icon-rt"></use>
    </svg>
    <span class="icon-container-name">rt</span>
  </div>
  
  <div class="icon-container">
    <svg class="icon-running">
      <use xlink:href="/svg-defs.svg#icon-running"></use>
    </svg>
    <span class="icon-container-name">Running</span>
  </div>

  <div class="icon-container">
    <svg class="icon-scale">
      <use xlink:href="/svg-defs.svg#icon-scale"></use>
    </svg>
    <span class="icon-container-name">scale</span>
  </div>

  <div class="icon-container">
    <svg class="icon-scissors">
      <use xlink:href="/svg-defs.svg#icon-scissors"></use>
    </svg>
    <span class="icon-container-name">scissors</span>
  </div>

  <div class="icon-container">
    <svg class="icon-scissors-add">
      <use xlink:href="/svg-defs.svg#icon-scissors-add"></use>
    </svg>
    <span class="icon-container-name">scissors-add</span>
  </div>

  <div class="icon-container">
    <svg class="icon-scissors-remove">
      <use xlink:href="/svg-defs.svg#icon-scissors-remove"></use>
    </svg>
    <span class="icon-container-name">scissors-remove</span>
  </div>

  <div class="icon-container">
    <svg class="icon-search">
      <use xlink:href="/svg-defs.svg#icon-search"></use>
    </svg>
    <span class="icon-container-name">search</span>
  </div>

  <div class="icon-container">
    <svg class="icon-select-all">
      <use xlink:href="/svg-defs.svg#icon-select-all"></use>
    </svg>
    <span class="icon-container-name">select-all</span>
  </div>

  <div class="icon-container">
    <svg class="icon-socialbro">
      <use xlink:href="/svg-defs.svg#icon-socialbro"></use>
    </svg>
    <span class="icon-container-name">socialbro</span>
  </div>

  <div class="icon-container">
    <svg class="icon-speaker">
      <use xlink:href="/svg-defs.svg#icon-speaker"></use>
    </svg>
    <span class="icon-container-name">speaker</span>
  </div>

  <div class="icon-container">
    <svg class="icon-speaker-line">
      <use xlink:href="/svg-defs.svg#icon-speaker-line"></use>
    </svg>
    <span class="icon-container-name">speaker-line</span>
  </div>

  <div class="icon-container">
    <svg class="icon-speech-bubble">
      <use xlink:href="/svg-defs.svg#icon-speech-bubble"></use>
    </svg>
    <span class="icon-container-name">speech-bubble</span>
  </div>

  <div class="icon-container">
    <svg class="icon-synchro">
      <use xlink:href="/svg-defs.svg#icon-synchro"></use>
    </svg>
    <span class="icon-container-name">Synchro</span>
  </div>

  <div class="icon-container">
    <svg class="icon-tag">
      <use xlink:href="/svg-defs.svg#icon-tag"></use>
    </svg>
    <span class="icon-container-name">tag</span>
  </div>

  <div class="icon-container">
    <svg class="icon-tag-edit">
      <use xlink:href="/svg-defs.svg#icon-tag-edit"></use>
    </svg>
    <span class="icon-container-name">tag-edit</span>
  </div>

  <div class="icon-container">
    <svg class="icon-target">
      <use xlink:href="/svg-defs.svg#icon-target"></use>
    </svg>
    <span class="icon-container-name">target</span>
  </div>

  <div class="icon-container">
    <svg class="icon-teams">
      <use xlink:href="/svg-defs.svg#icon-teams"></use>
    </svg>
    <span class="icon-container-name">teams</span>
  </div>

  <div class="icon-container">
    <svg class="icon-technology">
      <use xlink:href="/svg-defs.svg#icon-technology"></use>
    </svg>
    <span class="icon-container-name">technology</span>
  </div>

  <div class="icon-container">
    <svg class="icon-timing">
      <use xlink:href="/svg-defs.svg#icon-timing"></use>
    </svg>
    <span class="icon-container-name">timing</span>
  </div>

  <div class="icon-container">
    <svg class="icon-tweet-editor">
      <use xlink:href="/svg-defs.svg#icon-tweet-editor"></use>
    </svg>
    <span class="icon-container-name">tweet-editor</span>
  </div>

  <div class="icon-container">
    <svg class="icon-twitter">
      <use xlink:href="/svg-defs.svg#icon-twitter"></use>
    </svg>
    <span class="icon-container-name">twitter</span>
  </div>

  <div class="icon-container">
    <svg class="icon-twitter">
      <use xlink:href="/svg-defs.svg#icon-twitter-radius"></use>
    </svg>
    <span class="icon-container-name">twitter-radius</span>
  </div>

  <div class="icon-container">
    <svg class="icon-twitter-ads">
      <use xlink:href="/svg-defs.svg#icon-twitter-ads"></use>
    </svg>
    <span class="icon-container-name">twitter-ads</span>
  </div>

  <div class="icon-container">
    <svg class="icon-toggle">
      <use xlink:href="/svg-defs.svg#icon-toggle"></use>
    </svg>
    <span class="icon-container-name">Toggle</span>
  </div>

  <div class="icon-container">
    <svg class="icon-tools">
      <use xlink:href="/svg-defs.svg#icon-tools"></use>
    </svg>
    <span class="icon-container-name">tools</span>
  </div>

  <div class="icon-container">
    <svg class="icon-top-right-arrow">
      <use xlink:href="/svg-defs.svg#icon-top-right-arrow"></use>
    </svg>
    <span class="icon-container-name">top-right-arrow</span>
  </div>

  <div class="icon-container">
    <svg class="icon-trash">
      <use xlink:href="/svg-defs.svg#icon-trash"></use>
    </svg>
    <span class="icon-container-name">trash</span>
  </div>

  <div class="icon-container">
    <svg class="icon-txt">
      <use xlink:href="/svg-defs.svg#icon-txt"></use>
    </svg>
    <span class="icon-container-name">txt</span>
  </div>

  <div class="icon-container">
    <svg class="icon-unselect-all">
      <use xlink:href="/svg-defs.svg#icon-unselect-all"></use>
    </svg>
    <span class="icon-container-name">unselect-all</span>
  </div>

  <div class="icon-container">
    <svg class="icon-user">
      <use xlink:href="/svg-defs.svg#icon-user"></use>
    </svg>
    <span class="icon-container-name">user</span>
  </div>
  
  <div class="icon-container">
    <svg class="icon-usermail">
      <use xlink:href="/svg-defs.svg#icon-usermail"></use>
    </svg>
    <span class="icon-container-name">usermail</span>
  </div>

  <div class="icon-container">
    <svg class="icon-xls">
      <use xlink:href="/svg-defs.svg#icon-xls"></use>
    </svg>
    <span class="icon-container-name">xls</span>
  </div>

  <div class="icon-container">
    <svg class="icon-xls-2">
      <use xlink:href="/svg-defs.svg#icon-xls-2"></use>
    </svg>
    <span class="icon-container-name">xls-2</span>
  </div>

  <div class="icon-container">
    <svg class="icon-verified">
      <use xlink:href="/svg-defs.svg#icon-verified"></use>
    </svg>
    <span class="icon-container-name">verified</span>
  </div>

  <div class="icon-container">
    <svg class="icon-watson">
      <use xlink:href="/svg-defs.svg#icon-watson"></use>
    </svg>
    <span class="icon-container-name">watson</span>
  </div>

  <div class="icon-container">
    <svg class="icon-webcam">
      <use xlink:href="/svg-defs.svg#icon-webcam"></use>
    </svg>
    <span class="icon-container-name">webcam</span>
  </div>

  <div class="icon-container">
    <svg class="icon-world">
      <use xlink:href="/svg-defs.svg#icon-world"></use>
    </svg>
    <span class="icon-container-name">world</span>
  </div>

</div>
