<div class="icons-holder clearfix">
  <div class="icon-container">
    <svg viewBox="0 0 100 100" class="icon-socialbro">
      <use xlink:href="/svg-defs.svg#icon-socialbro"></use>
    </svg>
    <span class="icon-container-name">socialbro</span>
  </div>

  <div class="icon-container">
    <svg viewBox="0 0 100 100" class="icon-twitter">
      <use xlink:href="/svg-defs.svg#icon-twitter"></use>
    </svg>
    <span class="icon-container-name">twitter</span>
  </div>

  <div class="icon-container">
    <svg viewBox="0 0 100 100" class="icon-triangle-down">
      <use xlink:href="/svg-defs.svg#icon-triangle-down"></use>
    </svg>
    <span class="icon-container-name">triangle-down</span>
  </div>

  <div class="icon-container">
    <svg viewBox="0 0 100 100" class="icon-trash">
      <use xlink:href="/svg-defs.svg#icon-trash"></use>
    </svg>
    <span class="icon-container-name">trash</span>
  </div>
</div>
