<div class="one-quarter column">
  <nav class="menu">
    <a class="menu-item {% if section == 'colors' %}selected{% endif %}" href="/docs/colors">Colors</a>
    <a class="menu-item {% if section == 'buttons' %}selected{% endif %}" href="/docs/buttons">Buttons</a>
    <a class="menu-item {% if section == 'icons' %}selected{% endif %}" href="/docs/icons">Icons</a>
    <a class="menu-item {% if section == 'navigation' %}selected{% endif %}" href="/docs/navigation">Navigation</a>
    <a class="menu-item {% if section == 'tables' %}selected{% endif %}" href="/docs/tables">Tables</a>
    <a class="menu-item {% if section == 'typography' %}selected{% endif %}" href="/docs/typography">Typography</a>
    <a class="menu-item {% if section == 'containers' %}selected{% endif %}" href="/docs/containers">Containers</a>
    <a class="menu-item {% if section == 'data-visualization' %}selected{% endif %}" href="/docs/data-visualization">Data visualization</a>
  </nav>
</div>
