/*

Grid
----

Surprise! A grid system with rows and columns. You can nest it the times you want.

<div class="grid-row">
  <div class="grid-column">
    <p class="demo-block">I'm a column. Full by default</p>
  </div>
  <div class="grid-column one-third">
    <p class="demo-block">Boring one-third column</p>
  </div>
  <div class="grid-column two-thirds">
    <p class="demo-block">Funny column two-third of width</p>
  </div>
</div>

*/

$gutter-width: 2rem !default;

.grid-row {
    @extend %clearfix;
    margin: 0;
    margin-left: -$gutter-width;
    padding: 0;
}

.grid-column, .grid-columns {
    float: left;
    padding-left: $gutter-width;
    width: 100%;
}

.grid-row.reverse {
    > .column, .columns {
        float: right;
    }
}

.grid-row.full {
    margin-left:0;

    > .grid-column, .grid-columns {
        padding-left:0;
    }
}

.grid-row.narrow {
    margin-left:-($gutter-width / 2);

    > .grid-column, .grid-columns {
        padding-left:$gutter-width / 2;
    }
}

.grid-row.wide {
    margin-left:-($gutter-width * 2);

    > .grid-column, .grid-columns {
        padding-left:$gutter-width * 2;
    }
}

/* Widths */

.one.grid-column {
    width: 12.5%;
}

.two.grid-columns, .one-quarter {
    width: 25%;
}

.three.grid-columns {
    width: 37.5%;
}

.one-third {
    width: 33.33%;
}

.four.grid-columns, .one-half {
    width: 50%;
}

.five.grid-columns {
    width: 62.5%;
}

.two-thirds {
    width: 66.66%;
}

.six.grid-columns, .three-quarters {
    width: 75%;
}

.seven.grid-columns {
    width: 87.5%;
}

.eight.grid-columns, .one-whole {
    width: 100%;
}
