$base-sizes: 16 18 20 30 35 40 45 50 55 60;

@each $size in $base-sizes {
    .icon-size-#{$size} {
        height: pixel-to-rem($size) * 1rem;
        width: pixel-to-rem($size) * 1rem;
    }
}

[class^="icon"] {
    fill: currentColor;
    display: inline-block;
    vertical-align: middle;
}

.icon-text, %icon-text {
    height: 1.5em;
    width: 1.3em;
}

.icon-text-aligned {
    vertical-align: text-bottom;
}

.icon-twitter {
    fill: color($name: "twitter");
}

.icon-socialbro {
    fill: color($name: "socialbro");
}
