.panel {
    @include standard-container;
    display: inline-block;
    overflow: hidden;
}

.panel-header {
    background-color: color($name: "background");
    padding: 1.2rem;

    &.with-actions {
        display: flex;
        position: relative;
    }

    .handle {
        flex: 0 0 .8rem;

    }

    .icon-kebab {
        margin-left: -.4rem;
        fill: #36C4CF;
    }
}

.panel-header-title {
    color: color($name: "titles", $hue: "dark");
    font-size: 1.8rem;
    font-weight: normal;

    .subtitle {
        display: block;
        font-size: 1.2rem;
        color: color($name: "text", $variant: "secondary", $hue: "dark");
    }
}

.with-actions .panel-header-title {
    margin: 0 .5rem;
}

.panel-body {
    padding: 1rem 1.2rem;
}

/* Optional header menu */

.panel-header-menu .header-menu-actions {
    display: block;
    @include standard-container;
    padding: 1rem;
    border-top-left-radius: 0;
}

.active .panel-header-menu {
    position: absolute;
    left: 0;
}

.active .handle {
    background: color($name: "background", $hue: "light");
}
