.panel {
    @include standard-container;
    display: inline-block;
    overflow: hidden;
}

.panel-header {
    background-color: color($name: "background");
    padding: 1.2rem 1.5rem;
}

.panel-header-title {
    color: color($name: "titles", $hue: "dark");
    font-size: 1.8rem;
    font-weight: normal;
}

.panel-body {
    padding: 1rem 1.5rem;
}
