$border-color: color($name: "text", $variant: "secondary", $hue: "light");
$numerals: "first" "second" "third" "fourth" "fifth" "sixth" "seventh" "eigth" "ninth";

.sb-table {
    border-collapse: separate;
    border-radius: 4px;
    border: 1px solid $border-color;
    display: table;
    overflow: hidden;
}

.sb-table-heading {
    background-color: color($name: "background");
    color: color($name: "titles", $hue: "dark");
    display: table-row;
    font-weight: bold;
    height: 6rem;
    line-height: 1;
    text-transform: uppercase;

    .sb-table-cell {
        border-bottom: 1px solid $border-color;
    }
}

.sb-table-row {
    background-color: color($name: "service", $variant: "tertiary", $hue: "light");
    display: table-row;
    height: 6rem;

    &:nth-child(2n+1) {
        background-color: color($name: "background", $hue: "light");
    }
}

.sb-table-cell {
    display: table-cell;
    padding: 1.5rem;
    vertical-align: middle;

    &:not(:last-child) {
        border-right: 1px solid $border-color;
    }
}

.sb-table-cell-title, .sb-table-cell-subtitle {
    display: block;
}

.sb-table-cell-subtitle {
    color: color($name: "text");
    font-weight: normal;
    text-transform: none;
}

@for $i from 1 through length($numerals) {
    .#{nth($numerals, $i)}-highlight {
        .sb-table-heading .sb-table-cell:nth-child(#{$i}) {
            background-color: color($name: "primary");
            color: color($name: "background", $hue: "light");

            .sb-table-cell-subtitle {
                color: color($name: "background", $hue: "light");
            }
        }

        .sb-table-cell:nth-child(#{$i}) {
            background-color: lighten(color($name: "primary", $variant: "secondary", $hue: "light"), 2.5%);
        }

        .sb-table-row:nth-child(2n+1) .sb-table-cell:nth-child(#{$i}) {
            background-color: lighten(color($name: "primary", $variant: "secondary", $hue: "light"), 7.5%);
        }
    }
}
