$multiline-max-width:      25rem;
$tooltip-background-color: rgba(0, 0, 0, 0.8);
$tooltip-text-color:       color($name: "background", $hue: "light");

.tooltipped {
  position: relative;
}

// This is the tooltip bubble
.tooltipped:after {
  -webkit-font-smoothing: subpixel-antialiased;
  background: $tooltip-background-color;
  border-radius: 3px;
  color: $tooltip-text-color;
  content: attr(aria-label);
  display: none;
  font-size: 1.3rem;
  padding: .5rem .8rem;
  pointer-events: none;
  position: absolute;
  text-align: center;
  white-space: pre;
  z-index: 1000000;
}

// This is the tooltip arrow
.tooltipped:before {
  border: 5px solid transparent;
  color: $tooltip-background-color;
  content: "";
  display: none;
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  z-index: 1000001;
}

// This will indicate when we'll activate the tooltip
.tooltipped:not(.js-tooltipped):hover, .tooltipped.js-tooltipped.active {
  &:before,
  &:after {
    display: inline-block;
    text-decoration: none;
  }
}

.tooltipped-multiline:not(.js-tooltipped):hover, .tooltipped-multiline.js-tooltipped.active {
  &:after {
    display: table-cell;
  }
}

// Tooltipped south
.tooltipped-s,
.tooltipped-se,
.tooltipped-sw {
  &:after {
    margin-top: .5rem;
    right: 50%;
    top: 100%;
  }

  &:before {
    border-bottom-color: $tooltip-background-color;
    bottom: -.5rem;
    margin-right: -.5rem;
    right: 50%;
    top: auto;
  }
}

.tooltipped-se {
  &:after {
    left: 50%;
    margin-left: -1.5rem;
    right: auto;
  }
}

.tooltipped-sw:after {
  margin-right: -1.5rem;
}

// Tooltips above the object
.tooltipped-n,
.tooltipped-ne,
.tooltipped-nw {
  &:after {
    bottom: 100%;
    margin-bottom: .5rem;
    right: 50%;
  }

  &:before {
    border-top-color: $tooltip-background-color;
    bottom: auto;
    margin-right: -.5rem;
    right: 50%;
    top: -.5rem;
  }
}

.tooltipped-ne {
  &:after {
    left: 50%;
    margin-left: -1.5rem;
    right: auto;
  }
}

.tooltipped-nw:after {
  margin-right: -1.5rem;
}

// Move the tooltip body to the center of the object.
.tooltipped-s:after,
.tooltipped-n:after {
  transform: translateX(50%);
}

// Tooltipped to the left
.tooltipped-w {
  &:after {
    bottom: 50%;
    margin-right: .5rem;
    right: 100%;
    transform: translateY(50%);
  }

  &:before {
    border-left-color: $tooltip-background-color;
    bottom: 50%;
    left: -.5rem;
    margin-top: -.5rem;
    top: 50%;
  }
}

// tooltipped to the right
.tooltipped-e {
  &:after {
    bottom: 50%;
    left: 100%;
    margin-left: .5rem;
    transform: translateY(50%);
  }

  &:before {
    border-right-color: $tooltip-background-color;
    bottom: 50%;
    margin-top: -.5rem;
    right: -.5rem;
    top: 50%;
  }
}

// Multiline tooltips
// `.tooltipped-multiline` Add this class when you have long content.
// The downside is you cannot preformat the text with newlines and `[w,e]`
// are always `$multiline-max-width` wide.
.tooltipped-multiline {
  &:after {
    max-width: auto;
    white-space: normal;
    width: $multiline-max-width;
  }

  &.tooltipped-s:after,
  &.tooltipped-n:after {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  &.tooltipped-w:after,
  &.tooltipped-e:after {
    right: 100%;
  }
}


// Sticky tooltips
// Always show the tooltip.
.tooltipped-sticky {
  &:before,
  &:after {
    display: inline-block;
  }

  &.tooltipped-multiline {
    &:after {
      display: table-cell;
    }
  }
}

// Alert tooltips
// Colors for different alert states.
@mixin colorizeTooltip($text-color, $background-color) {
  &:after {
    background: $background-color;
    color: $text-color;
  }

  .tooltipped-s,
  .tooltipped-se,
  .tooltipped-sw {
    &:before {
      border-bottom-color: $background-color;
    }
  }

  &.tooltipped-n,
  &.tooltipped-ne,
  &.tooltipped-nw {
    &:before {
      border-top-color: $background-color;
    }
  }

  &.tooltipped-e:before {
    border-right-color: $background-color;
  }

  &.tooltipped-w:before {
    border-left-color: $background-color;
  }
}
