<!doctype html>
<html class="no-js" lang="en">
  <head>
    {% include "layout/head.html" %}
  </head>
  <body>
    {% include "layout/header.html" %}

    <div class="container">
      <div class="row">
        {% block side %}{% endblock %}
        {% block main %}{% endblock %}
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src='//localhost:35729/livereload.js'></script>
  </body>
</html>
