<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
  {% if title %}
    {{ title }}
  {% else %}
    SocialBro Styleguide
  {% endif %}
</title>

<meta name="description" content="SocialBro CSS styleguides">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Montserrat' type='text/css'>
<link rel="stylesheet" href="/stylesheets/main.css" />
<link rel="stylesheet" href="/stylesheets/docs.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
