<table class="sb-table sb-table-compacted one-whole">
  <tr class="sb-table-heading">
    <th class="sb-table-cell">
      <span class="sb-table-cell-title">Twitter user</span>
    </th>
    <th class="sb-table-cell">Followers</th>
    <th class="sb-table-cell">Following</th>
    <th class="sb-table-cell">Tweets</th>
  </tr>
  <tr class="sb-table-row">
    <td class="sb-table-cell">@FigaredoRat</td>
    <td class="sb-table-cell align-center">85</td>
    <td class="sb-table-cell align-center">124</td>
    <td class="sb-table-cell align-center">34</td>
  </tr>
  <tr class="sb-table-row">
    <td class="sb-table-cell">@JuanDeLosMuertos</td>
    <td class="sb-table-cell align-center">231</td>
    <td class="sb-table-cell align-center">332</td>
    <td class="sb-table-cell align-center">176</td>
  </tr>
</table>
