<table class="sb-table third-highlight one-whole">
  <tr class="sb-table-heading">
    <th class="sb-table-cell">
      <span class="sb-table-cell-title">Double line</span>
      <span class="sb-table-cell-title">Text header</span>
    </th>
    <th class="sb-table-cell">Number/Date</th>
    <th class="sb-table-cell">
      <span class="sb-table-cell-title">Double line</span>
      <span class="sb-table-cell-subtitle">Text with subtitle</span>
    </th>
    <th class="sb-table-cell">Phrase</th>
  </tr>
  <tr class="sb-table-row">
    <td class="sb-table-cell">Text content</td>
    <td class="sb-table-cell align-center">100%</td>
    <td class="sb-table-cell">Delete?</td>
    <td class="sb-table-cell">It's not done until it ships</td>
  </tr>
  <tr class="sb-table-row">
    <td class="sb-table-cell"><a href="#">Text link and content</a></td>
    <td class="sb-table-cell  align-center">1985.19</td>
    <td class="sb-table-cell">Saved!</td>
    <td class="sb-table-cell">Get shipping done</td>
  </tr>
</table>
