<div class="sb-menu-align-bottom-left">
  <button class="btn btn-service">Open menu</button>
  <nav class="sb-menu-bubble-top-left menu-list prel">
    <a class="menu-list-item" href="">
      <svg class="icon"><use xlink:href="/svg-defs.svg#icon-lifevest"></use></svg>
      Help
    </a>
    <a class="menu-list-item" href="">
      <svg class="icon"><use xlink:href="/svg-defs.svg#icon-nut"></use></svg>
      Your settings
    </a>
    <a class="menu-list-item" href="">
      <svg class="icon"><use xlink:href="/svg-defs.svg#icon-tools"></use></svg>
      Tools
    </a>
  </nav>
</div>
